body
{
    MARGIN: 0px;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
td.Instruction
{
    FONT-SIZE: 12px;
    COLOR: green;
    FONT-STYLE: italic;
    FONT-FAMILY: arial,helvetica,sans-serif;
    vertical-align: top;
}
td.SubCode
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
input
{
    FONT-SIZE: 12px;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
text
{
    FONT-SIZE: 12px;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
textarea
{
    FONT-SIZE: 12px;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
img
{
    FONT-SIZE: 10px;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
select
{
    FONT-SIZE: 12px;
    FONT-FAMILY: arial,helvetica,sans-serif;
}

h1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #22497C;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
h2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
h3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: teal;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
table
{
    border-color: #006699;
    background-color: white;
}
caption
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: white;
    background-color: #006699;
    FONT-FAMILY: arial,helvetica,sans-serif;  
}
th
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: white;
    background-color: gray;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
td
{
    FONT-SIZE: 9pt;
    COLOR: black;
    background-color: white;
    FONT-FAMILY: arial,helvetica,sans-serif;
    TEXT-ALIGN: center;
}
a.sortlink {
	text-decoration:none;
	padding-left:25px;
	font-family:courier;
}
span.linktext {
    text-decoration: underline;
    COLOR: blue;
}
a.text:hover
{
    COLOR: #FFFFFF;
    TEXT-DECORATION: none
}
button
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: arial,helvetica,sans-serif;
    TEXT-ALIGN: center;
}
a.text:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #FFFFFF;
    FONT-FAMILY: arial,helvetica,sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
a.textcurrent:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
a.navbarText
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #FFFFFF;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.mainpageheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    COLOR: #22497C;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.BGBarColor
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BACKGROUND: #99ccff;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.TblHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    BACKGROUND: #3669AC;
    color: #FFFFFF;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.TblText
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.TblTextRed
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.TblTextBold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.TblTextHeader
{
	Background: #0066CC; 
	border: #0066CC; 
    FONT-FAMILY: arial,helvetica,sans-serif;
	font-size: 9pt; 
	color: #FFFFFF; 
	font-weight: bold;
    TEXT-ALIGN: center;
}
.Error
{
    FONT-SIZE: 9pt;
    COLOR: red;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.Label
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.LabelLeft
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    FONT-FAMILY: arial,helvetica,sans-serif;
    TEXT-ALIGN: left;
}
.LabelRight
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    FONT-FAMILY: arial,helvetica,sans-serif;
    TEXT-ALIGN: right;
}
.LabelCenter
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    FONT-FAMILY: arial,helvetica,sans-serif;
    TEXT-ALIGN: center;
}
.Instruction
{
	COLOR: green;
	FONT-STYLE: italic;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.Prompt
{
	COLOR: red;
    FONT-SIZE: 12pt;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.message
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #cc0000;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.LiveIndex
{
    FONT-SIZE: 12pt;
	BACKGROUND-COLOR: #eeddee;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.SearchIndex
{
    FONT-SIZE: 12pt;
	BACKGROUND-COLOR: #ddeedd;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.Header {  
    FONT-FAMILY: arial,helvetica,sans-serif;
	font-size: 12pt; 
	font-style: normal; 
	background-color: #FFFFFF; 
	text-align: center; 
	color: #000099; 
	font-weight: bolder;
}
.Header2 {  
    FONT-FAMILY: arial,helvetica,sans-serif;
	font-size: 9pt; 
	font-style: normal; 
	background-color: #FFFFFF; 
	text-align: center; 
	color: black; 
	font-weight: bold;
}
.Header3 {  
    FONT-FAMILY: arial,helvetica,sans-serif;
	font-size: 10pt; 
	font-style: normal; 
	background-color: #FFFFFF; 
	text-align: left; 
	color: teal; 
	font-weight: bold;
}
.HeaderError {  
    FONT-FAMILY: arial,helvetica,sans-serif;
	font-size: 12pt; 
	font-style: normal; 
	background-color: #FFFFFF; 
	text-align: center; 
	color: red; 
	font-weight: bolder;
}
.disclaimer {  
    FONT-FAMILY: arial,helvetica,sans-serif;
	font-size: 10px; 
	font-style: normal; 
	background-color: #003366;
	text-align: center; 
	color: #FFFFFF; 
}
.Description {  
    FONT-FAMILY: arial,helvetica,sans-serif;
	font-size: 9pt; 
	font-style: normal
}
.ScreenPrompt {  
    FONT-FAMILY: arial,helvetica,sans-serif;
	font-size: 10pt; 
	font-style: normal; 
	line-height: normal; 
        background-color: #006699;
	color: #FFFF00; 
	font-weight: bold
}
.SpellCheckButton {
    FONT-FAMILY: arial,helvetica,sans-serif;
    font-size: 8pt; 
    font-style: italic;
}
.TextAreaCounter {
    FONT-FAMILY: arial,helvetica,sans-serif;
    font-size: 8pt; 
    font-style: italic;
}
#LookupTable
{
    BORDER-RIGHT: #000066 solid;
    BORDER-TOP: #000066 solid;
    BORDER-LEFT: #000066 solid;
    BORDER-BOTTOM: #000066 solid;
    FONT-SIZE: 12px;
    COLOR: #000066;
    FONT-FAMILY: arial,helvetica,sans-serif;
    TEXT-DECORATION: none
}
.HighlightAvail
{
    COLOR: black;
    FONT-SIZE: 12px;
    FONT-FAMILY: arial,helvetica,sans-serif;
	BACKGROUND-COLOR: #DDEEDD;
}
.HighlightUnavail
{
    COLOR: black;
    FONT-SIZE: 12px;
    FONT-FAMILY: arial,helvetica,sans-serif;
	BACKGROUND-COLOR: #F5C2DE;
}
.HighlightNone
{
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: arial,helvetica,sans-serif;
	BACKGROUND-COLOR: #FFFFFF;
}
.PDBColorList
{
    width: 200px;
    FONT-FAMILY: arial,helvetica,sans-serif;
}

