<div id="dispDiv" style="display:none">
  
    <table width="95%" cellpadding="0"  bgcolor="#D1BC63" align="center" id="breadcrumbTbl">
      <tr >
        <td width="95%" align="left"><div id="breadcrumbDiv" class="breadCrumb"/></td>
        <td width="5%" id="minButton"><a href="javascript:toggleCallDisp();"><img src="/decisionresult/images/Minimize.png" style="border:1px solid #DECF98;"></img></a></td>
        
      </tr>
    </table>
		<br/>
    <div id="errorDiv" class="errorTxt" style="display:none"></div>
		<div id="widgetContent" align="left">
      

			<table cellspacing="0" cellpadding="0" border="0" width="95%" height="90%">
        
				<tr align="left">
          <td>
            <div id="entityDiv" class="divscroll" style="display:none;">
              <table id="entityTbl">
                              
              </table>
            </div>
            
          </td>
        </tr>
        <tr>
          <td>&#160;</td>
        </tr>
				<tr align="left">
					<td >
						            
            <div id="questionDiv" class="textQ">
              <label id="stepLbl"></label><label id="questLbl"></label>
            </div>  
            
        
              <div id="childNodeDiv" class="childNodes">
                <table id="childNodeTbl"> </table>
              </div>
            
 					</td>
				</tr>
        <tr>
          <td>&#160;</td>
        </tr>
        <tr align="left">
					<td >
              <div id="commentsDiv" style="display:none">
                Comments: <br></br>
                <textarea  class="dr_textarea" cols="30" rows="5" id="commentsTA" onpaste="return checkMaxLength(this, 150);"  
                  onkeypress="return imposeMaxLength(event, this, 150);" onblur="assignToHiddenField()"></textarea><br></br>
                <label>Maximum of 150  characters allowed</label>
              </div>  
                
					</td>
				</tr>
        <tr>
          <td>&#160;</td>
        </tr>
        <tr align="center">
          <td>
            <span id="preBtnDiv" style="display:none"><input class="dr_blueButton"   type="button"  id = "previous" value="Previous" ></input></span>
            <span id="nxtBtnDiv" style="display:none"><input class="dr_blueButton"  type="button" id = "next" value="Next"  ></input></span>
            <span id="subBtnDiv" style="display:none"><input class="dr_blueButton"   type="button" id = "submitButton" value="Submit"  ></input></span>
            <span id="decBtnDiv" style="display:none"><input class="dr_blueButton"   type="button" id = "decline" value="Decline"    ></input></span>
          </td>
        </tr>
        <tr>
          <td>&#160;</td>
        </tr>
				<tr>
          <td>
            <div id="widgetMsgDiv" class="errorTxt"></div>
          </td>
        </tr>
			</table>
			
		</div>
    
    
    <div id="processDiv"> 
      <h3 style="color: #000000" align="center"><img src="/decisionresult/js/busy.gif" />Processing....</h3>		
		</div>
    
</div>
  


