<!-- Calendar.css
Style sheet definitions for all styles used by the calendar. This file is 
included with the calendar -->

<style type="text/css">
<!--
/* 
 *      This is the stylesheet for the popup calendar. You can edit this to modify the calendar 
 *      look and feel.
 *
 *      Author: Ashish Kasi
 *  	Version: $Id: report_calendar.css,v 1.2 2006/05/26 15:49:58 mkruger Exp $
 */

 
table.cal_outertablecolor {background-color: #999999}
table.cal_middletablecolor {background-color: #FFFFFF}
table.cal_innertablecolor {background-color: #FFFFFF}

tr.cal_dateselectorcolor {background-color: #CCCC99}
.cal_dateselectorfont	 
     { font-family: Verdana;
	   color: #000000;
	   font-weight: bold;
	   font-size: 8pt;
     }

td.cal_monthtitlecolor {background-color: #CCCC99}
.cal_monthtitlefont	 
     { font-family: Verdana;
	   color: #000000;
	   font-weight: bold;
	   font-size: 8pt;
     }

td.cal_weekdaytitlecolor {background-color: #BBBBBB}
.cal_weekdaytitlefont	 
     { font-family: Verdana;
	   color: black;
	   font-weight: normal;
	   font-size: 8pt;
     }
     
tr.cal_dayofmonthcolor {background-color: #FFFFFF}
td.cal_currentdaycolor {background-color: #CCCC99}
.cal_dayofmonthfont	 
     { font-family: Verdana;
	   color: black;
	   font-weight: normal;
	   font-size: 8pt;
     }

-->
</style>