body {
	font-family: tahoma, verdana, sans-serif;
    font-size: 12px;
}

h1 {
	font-size: 20px;
	font-weight: bold;
}

h2 {
	font-size: 17px;
    background-color: #FFEEDD;
}

h3 {
	font-size: 13px;
}

.news {
	padding-top: 0px;
	margin-top: 0px;
	font-size: 10px;
}

a, a:hover, a:link, a:active, a:visited {
	color: #FF1111;
    text-decoration: none;
    background-color: #FFFF00;
}

borderTable {
	border: 1px;
	border-style: solid;
}

caption { 
	font-size: 12pt;
	font-weight: bold;
	border-bottom: 1px;
    background-color: #0000FF;
    color: #FFFFFF;
}

th {
	font-size: 10pt;
	background-color: #7777FF;
	color: white;
}

.even {
	font-size: 10pt;
	background-color: #44DDFF;
}

.odd {
	font-size: 10pt;
	background-color: #44FFFF;
}

.label { 
	font-size: 10pt;
	font-weight: bold;
}

.input {
	font-size: 10pt;
}

.error {
	font-size: 9pt;
	color: red;
}




#main {
	border: 1px solid #666;
	clear: both;
	padding-top: 1em;
}

#contents {
	padding: .5em;
	min-height: 300px;
}

#header {
	position: relative;
	width: 100%;
	height: 3em;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header ul#primary {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header ul#primary li  {
	display: inline;
	list-style: none;
}

#header ul#primary a,#header ul#primary span,#header ul#primary a.current {
	width: 8em;
	display: block;
	float: left;
	padding: 4px 0;
	margin: 1px 2px 0 0;
	text-align: center;
	font-family: tahoma, verdana, sans-serif;
	font-size: 85%;
	text-decoration: none;
	color: #333;
}

#header ul#primary span,#header ul#primary a.current,#header ul#primary a.current:hover {
	border: 1px solid #666;
	border-bottom: none;
	background: #DDDDDD;
	padding-bottom: 6px;
	margin-top: 0;
}

#header ul#primary a {
	background: #EEEEEE;
	border: 1px solid #AAA;
	border-bottom: none;
}

#header ul#primary a:hover {
	margin-top: 0;
	border-color: #666;
	background: #DDDDDD;
	padding-bottom: 5px;
}

.results {
    background-color: #EEEEEE;    
    float: left;
    width: 100%;
}

.leftSide {
    float: left;
    background-color: #DDDDDD;
    width: 45%;
    margin: 5px;
}

.rightSide {
    float: right;
    background-color: #DDDDDD;
    width: 45%;
    margin: 5px;
}

.notes {
    margin: 5px;
    float: left;
	font-size: 8pt;
    background-color: #FFEEDD;
}

.top {
    width: 99%;
    margin: 5px;
    float: left;
    background-color: #DDDDDD;
    border: 1px solid black;
}
.quarter {
    width: 24%;
    float: left;
}

.full {
    width: 99%;
    float: left;
    padding: 4px;
}
p.oneValue {
    margin-top: 2px;
    margin-bottom: 2px;
    margin: 5px;
}

.hidden {
    visibility: hidden;
}

.menu {
    width: 99%;
    float: left;
    padding: 5px;
    background-color: #00ff00;
}