.selected {
	vertical-align: top;
	text-align: center;
	width: 4%;
}

.memberNumber {
	vertical-align: top;
	text-align: center;
	width: 12%;
}

.name {
	vertical-align: top;
	text-align: center;
	width: 21%;
}

.phone {
	vertical-align: top;
	text-align: center;
	width: 14%;
}

.sunday {
	vertical-align: top;
	text-align: center;
	width: 6%;
}

.mercury {
	vertical-align: top;
	text-align: center;
	width: 7%;
}

.goTo {
	vertical-align: top;
	text-align: center;
	width: 7%;
}

.cutOff {
	vertical-align: top;
	text-align: center;
	width: 7%;
}

.alreadyReceived {
	vertical-align: top;
	text-align: center;
	width: 9%;
}

.status {
	vertical-align: top;
	text-align: center;
	width: 13%;
}


.memberLink {
	margin: 0;
	padding: 0;
}