.alignright{
    text-align:right;
	
}
.alignleft{
	text-align:left;
}
.banner {
    background-color:#006699;
    color:#FFFFFF ;
    text-align:center;
    font-weight: bold;
}

.ColHeader {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    background: #006699;
    color: #FFFF00;
}
.ColHeaderCenter {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    background: #006699;
    text-align: center;
    color: #FFFF00;
}
.ColHeaderRight {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    background: #006699;
    text-align: right;
    color: #FFFF00;
}
.BlueButton {
	height: 20px;
	border: 1px solid #000000;
	text-decoration: none;
  font-size:8pt;
	background-image: url(../images/blueButton.gif)
}

.BigBlueButton {
	height: 40px;
	font-family: arial,helvetica,sans-serif;
	border: 1px solid #000000;
	font-size: 8pt;
	text-decoration: none;
	background-image: url(../images/bigBlueButton.gif)
  }
 
.disclaimer {
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    background-color: #003366;
    color: #FFFFFF;
}
.DiscountPrice {
    text-decoration: line-through;
    color: red;
}
div.popup {
    border: 1px solid black;
    background: #FFF8DC;
}
.EditProductCellHighlight {
    font-family: arial,helvetica,sans-serif;
    background-color: #FFF8DC;
    text-align: left;
    cursor: default;
}
.EditProductCellSelected {
    font-family: arial,helvetica,sans-serif;
    background-color: #F0E68C;
    text-align: left;
    cursor: default;
}
.EditProductCellDeselect {
    font-family: arial,helvetica,sans-serif;
    background-color: #FFFFFF;
    text-align: left;
    cursor: default;
}
.EditProductColHeaderSelected {
    border: thin solid #F0E68C;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    font-weight: bold;
    background-color: #F0E68C;
    text-align: left;
    text-decoration: underline;
    cursor: default;
}
.EditProductColHeaderDeselect {
    border: thin solid #F0E68C;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    font-weight: bold;
    background-color: #FFF8DC;
    text-align: left;
    text-decoration: underline;
    cursor: default;

}
.OperationSuccess {
    color: green;
    font-weight: bold;
}
.ErrorMessage {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: red;
}
.errorField{
	background-color:	#FFC0CB
}
.floatleft{
    float:left;
}
.floatright{
    float:right;
}
form {
    margin: 0px;
    padding: 0px;
}
.Header {
    font-family: arial,helvetica,sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: bolder;
    background-color: #FFFFFF;
    text-align: center;
    color: #000099;
}
input,select,textarea {
    font-family: arial,helvetica,sans-serif;
    font-size:8pt;
}
.Instruction {
    color: green;
    font-style: italic;
}
.Label {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
}
.labelpad {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
   padding-left: 1cm;
}

.LabelRight {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-align:right;
}
.largeErrorMsgTxt {
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: red;
}
.largeMsgTxt {
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    font-weight: bold;
}
.Link {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
}
.LookupTable {
    border-right: #000066 2px solid;
    border-top: #000066 2px solid;
    border-left: #000066 2px solid;
    border-bottom: #000066 2px solid;
    font-size: 12px;
    color: #000066;
    background-color: #f0ecda;
    font-family: Arial, Tahoma;
    text-decoration: none;
}
.mainTable {
    border-right: #006699 3px solid;
    border-top: #006699 3px solid;
    border-left: #006699 3px solid;
    border-bottom: #006699 3px solid;
    
}

.innerTable {
    border-right: #006699 1px solid;
    border-top: #006699 1px solid;
    border-left: #006699 1px solid;
    border-bottom: #006699 1px solid;
    empty-cells:show;
    
}
.innerTableDiv {
	position: relative;
	height: 200px;
	padding:10px;
	border:#006699 1px solid;
	overflow-y: scroll;
	overflow-x: hidden;
}
.innerTableCollapse {
	border-collapse:collapse;
	border:#006699 1px solid;	
}

.innerTableTd {
	border:#006699 1px solid;
}

.MatchedSearchResult {
    font-weight: bold;
}
.popup img {
    cursor: "hand";
}
.PopupHeader {
    font-family: arial,helvetica,sans-serif;
    font-size: 11pt;
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: #000099;
}
.TblHeader {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    background: #3669AC;
    color: #FFFFFF;
}
.TextLink {
    color: blue;
    text-decoration: underline;
    cursor: "hand";
}
.TextLinkWhite {
    color: white;
    text-decoration: underline;
    cursor: "hand";
}
.TotalLine {
    font-family: arial,helvetica,sans-serif;
    background: #006699;
    font-size: 9pt;
    color: white;
}
.TotalLineRight {
    font-family: arial,helvetica,sans-serif;
    background: #006699;
    font-size: 9pt;
    text-align: right;
    color: white;
}
.TopHeading {
    font-family: arial,helvetica,sans-serif;
    font-size: 11pt;
    font-weight: bold;
}
.RequiredFieldTxt {
    font-family: arial,helvetica,sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: red;
}
.ScreenPrompt {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-style: normal;
    line-height: normal;
    background-color:#006699;
    color: #FFFF00;
    font-weight: bold
}
.ScrubTotal {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: red;
}
.ShoppingCartTotal {
    font-family: arial,helvetica,sans-serif;
    font-size: 9pt;
    color: white;
}
td {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
}
td.gray {
    color: #999999;
}
.WaitMessage {
    font-family: arial,helvetica,sans-serif;
    font-size: 12pt;
    font-weight: bold;
}
.StrikePrice{
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    color: red;
	 text-decoration: line-through;
}



.alignBottomCenter{
	vertical-align:text-bottom;
	text-align:center;
}

/*--------------------------Scrolling (table) CSS -------------------------*/

/* define height and width of scrollable area. Add 16px to width for scrollbar  */
div.tableContainer {
	height: 250px;
	overflow: auto;
	width: 768px;
	
}
  
/* define width of table. IE browsers only      */           
div.tableContainer table {
	float: left;
	width: 100%;
	
	
}
thead.fixedHeader tr {
	position: relative
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent {
	display: block;
	height: 262px;
	overflow: scroll;
	width: 100%;
	
	
}

thead.fixedHeader tr {
	background-color: white;
	text-align:center;
	vertical-align:bottom;
}

th {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
}
    
tbody.scrollContent td{
	text-align:center;
}

/*----------------------END of Scrolling -table- CSS -------------------------*/

/*--------Customer Account xsl--------*/
#ca td {
   vertical-align:text-bottom;
   padding-left:.3em;
}
#ca_cart td{
	font-size:8pt;
}
/*--------End Customer Account xsl--------*/


/*------Customer Shopping Cart---------*/
#csciInfo td{
	vertical-align:bottom;
	padding-left:.3em;
}
 #csciHeader td {
	vertical-align:bottom;
	padding-left:.3em;
}
/*---- End Customer Shopping Cart------*/

/*------------- itemDiv.xsl------------*/
#itemContainer td{
		vertical-align:bottom;
}
#recipInfoCustHeader td{
	padding-left:.3em;
}
#recipInfo td{
	padding-left:.3em;
}

#recipientSummary td{
padding-left:.3em;
}
#vendorSummary td {
padding-left:.3em;
}
/*----------End itemDIv.xsl-------------*/


.orderToolTip td{
padding-left:1em;
font-family: arial,helvetica,sans-serif;
font-size: 8pt;


}

/*----------Popup xsl---------------*/

#membershipInfoPopup td.Label{
	text-align:right;
}
#membershipInfoPopup td{
	padding-left:.5em;
}

#altContactInfo td.Label{
	text-align:right;
}
#altContactInfo td{
	padding-left:.5em;
}


#cartPayment td.Label{
	text-align:right;
}
#cartPayment td{
	padding-left:.4em;
	text-align:left;
	
}

#orderPayment td.Label{
	text-align:right;
}
#orderPayment td{
	padding-left:.4em;
	text-align:left;
}

#ScrollDiv {
width:375px;
height:40px;
overflow: auto; 
background-color: #E3E1DD;
border-color: black;
color: red;
border: 1px solid;
}
