/* Cart and Item div settings */
ul#content {
    border: none;
}

div#shoppingCartDiv{
	top:0px;
	left:0px;
	padding:0px;
	margin:0px;
}

#content div {  
	position:relative; 
  width: 100%;
  height: 0px;
 	top: 3px;									
  left:0px
  padding:0px;
  margin:0px;
	display:none;
}

div#outterContent{
	position:relative;
	left:0px;
	top:2px;
	//width:98%;
	padding:0px;
	margin-left:6px;
	margin-right:0px;
	border:none;
}
#content div.hidden {
    display: none;
}
#content div.visible {
    width: 100%;
    display: block; 
}
#tabs button {
    width: 136px;
    height: 40px;
    border: none;
    background: url(../images/whitetabCOM.gif);
    color: #006699;
    font-size:7pt;
}

div#tabs {
	border:none;
  text-align: left;
}

#tabs button.hover {
	background: url(../images/whitetab_f2COM.gif);
	font-size:7pt;
	color: #E67479;
}
#tabs button.valid {
    background: url(../images/emptytab.gif);
    font-size:7pt;
}
#tabs button.selected {
    background: url(../images/whitetab_f3COM.gif);
    font-size:7pt;
   
}
