/* Tab div settings */
div#tabs {
	border: none;
    text-align: left;
}
#tabs button {
	width: 92px;
    height: 32px;
    border: none;
    background: url(../images/whitetab.gif);
	color: #006699;
}
#tabs button.hover {
	background: url(../images/whitetab_f2.gif);
	color: #E67479;
}
#tabs button.valid {
    background: url(../images/emptytab.gif);
}
#tabs button.selected {
    background: url(../images/whitetab_f3.gif);
}
/* Tab Navigation */
button#prevItem {
	width: 17px;
    height: 17px;
    border: none;
    background: url(../images/backItem.gif);
}
button#prevItem.pressed {
	width: 17px;
    height: 17px;
    border: none;
    background: url(../images/backItem_pressed.gif);
}
button#prevItem.disabled {
	width: 17px;
    height: 17px;
    border: none;
    background: url(../images/backItem_disabled.gif);
}
button#nextItem {
	width: 17px;
    height: 17px;
    border: none;
    background: url(../images/nextItem.gif);
}
button#nextItem.pressed {
	width: 17px;
    height: 17px;
    border: none;
    background: url(../images/nextItem_pressed.gif);
}
/* Cart and Item div settings */
UL#content {
    border: none;
}
#content div {
    position: absolute;
	width: 0px;
    height: 0px;
    top: 117px;
    left: 10px;
    display: none;
}
#content div.hidden {
    display: none;
}
#content div.visible {

    width: 100%;
    display: block;
}

.tableheaderlink {

     color: #FF0000;
     text-decoration: none;
}
a.tableheaderlink:link { color: #FFFF00; text-decoration: none; }
a.tableheaderlink:active { color: #FFFF00; text-decoration: none; }
a.tableheaderlink:visited { color: #FFFF00; text-decoration: none; }
a.tableheaderlink:hover { color: #FFFFFF; text-decoration: none; }
