html {
	overflow: auto;
}

/* Scrolling Tables */
/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.tableContainer {
	height: 220px;
	overflow: auto;
	width: 768px;
}

/* define width of table. IE browsers only                 */
div.tableContainer table {
	float: left;
	width: 98%;
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
	position: relative
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent {
	display: block;
	height: 100%;
	overflow: auto;
	width: 100%
}

thead.fixedHeader tr {
	background-color: white;
}

th {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
}


/*****
The label and data field styles for the order information tables
*****/
td.label {
	font-weight: bold;
	text-align: right;
	vertical-align: top;
	padding-top: 0;
	padding-bottom: 0;
}

td.datum {
	padding-left: 2em;
	text-align: left;
	padding-top: 0;
	padding-bottom: 0;
}


/*****
Misc Styles
*****/
.PaneSection {
	margin: 0;
	padding: 0;
	width: 100%;
	align: center;
}

.banner {
	width:100%;
	background-color: #006699;
	color:white;
	text-align:center;
	font-weight: bold;
}