@page {
		size 8.5in 11in; margin: 1cm;
	   }
	body{
		font-family: arial,helvetica;
	}
	td.Label{
		font-size:10pt;
	}
	span.Label{
		font-size:10pt;
	}
	td {
		font-size:9pt;
	}
	td.printedBanner{
		font-size:12pt;
	}
	#orderHeader{
		font-size:11pt;
	}
	#sourceHeader{
		font-size:11pt;
	}