body{
    font-family:Verdana, Geneva, sans-serif;
    font-size:14px;
    }


#dispDiv {
    display:none; 
    position:absolute;
    overflow:visible;
    width: 320px;
    height: 440px;
    left:0px; 
    top:0px;
    /*border-style: solid; 
     background-color: #FFFFFF; */
    background-color: #FAFAFA;
    padding: 0.5em;   
   border:1px solid #DECF98; /*jbaba*/
}


#widgetHeader{
    right:10px; 
    top:5px;
    position: absolute;
    overflow:visible;
}

#widgetContent{
   width: 300px;
   height: 300px;
   position: relative;
   overflow:visible;
}

#widgetFooter{
    left:10px;
    width:95%;
    /*border-style:solid;
    border-width:1px;*/
    position: relative;
    
    
}

.widgetHeader{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    /*color: black;*/
    font-weight: bold;
}
.textQ{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #000000; 	
    font-weight: bold;
}
.textOptions{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #000099; 	
    font-weight: normal;
}

.errorTxt{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    display:none;
    font-size: 12px;
    color: Red;
    font-weight: bold;
    font-style: italic;
 }

.childNodes{
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #000099; 	
  font-weight: normal;
  height: 160px;
  width: 230px;
  overflow: auto;
  background-color: white;
  
}

.divscroll {
height: 75px;
width: 250px;
overflow: auto;
background-color: white;

}

.breadCrumb{
  font-family: Verdana, Helvetica, Arial, sans-serif;
  display:none;
  color: #000000;
  font-weight: bold;
  
}

.entityReqSel{
  font-family: Verdana, Helvetica, Arial, sans-serif;
  /*color : #FF0000;  Red color*/
  background-color: 	#D1BC63;/* Gold color*/
  font-weight: normal;
}

.entityReq{
  font-family: Verdana, Helvetica, Arial, sans-serif;
  /*color : 	#FF0000;  Red color*/
  background-color: 	#FFFFFF; /* White color*/
  font-weight: normal;
  
}

.entitySel{
  font-family: Verdana, Helvetica, Arial, sans-serif;  
  /*color : #000000;  Black color*/
  background-color: 	#D1BC63;
  font-weight: normal;    
}

.entityNormal{
  font-family: Verdana, Helvetica, Arial, sans-serif;
  /*color : #000000;  Black color*/
  background-color: 	#FFFFFF; 
  font-weight: normal;
}


.dr_blueButton {
    height: 20px;
    width: 60px;
    border: 1px solid #DECF98;
    text-decoration: none;
    font-size:8pt;
    font-weight: normal;
    color:#000000;
    background-color: #F4F0D7;
}

.dr_input
{
  border: 1px solid #DECF98;
}
.dr_select { 
  border: 1px solid #DECF98;
}
.dr_textarea { 
  border: 1px solid #DECF98;
}