.header {  
    position: absolute; 
    top: 5px; 
    left: 5px; 
    width: 1100px;
    height: 70px;
    background-color: #FFFFFF; 
}

.content {
    background-color: #FFFFFF; 
    position: absolute;
    top: 70px;
    left: 10px;
    width: 1100px;
    height: 600px;
}

.buttonDiv {
    position: absolute; 
    top: 5px; 
    left: 0px; 
    width: 100%; 
    height:50px; 
}

.dataListDiv {
    position: absolute; 
    top: 35px; 
    left: 0px; 
    width: 100%; 
    height:500px; 
    text-align: center;
    overflow:auto;   
}

.footer {  
    background-color: #003366;
    text-align: center; 
    color: #FFFFFF; 
    position: absolute; 
    top: 600px;
    left: 5px; 
    width: 1100px;
}


.pageHeader {
    FONT-FAMILY: arial,helvetica,sans-serif;
    font-size: 12pt; 
    font-style: normal; 
    background-color: #FFFFFF; 
    text-align: center; 
    color: #000099; 
    font-weight: bolder;
}

.blueButton {
    height: 20px;
    width: 60px;
    border: 1px solid #000000;
    text-decoration: none;
    font-size:8pt;
    font-weight: bold;
    color:blue;
    background-image: url(../images/blueButton.gif)
}

.copyright{
    color: white; 
    FONT-FAMILY: arial,helvetica,sans-serif;
    font-size: 12px; 
    font-style: normal; 
    text-align: center;
}

.clock{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    FONT-FAMILY: arial,helvetica,sans-serif;
    text-align: right;
}

.excelLink {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 11px;
    text-decoration: underline;
    color: blue;
}
