.AccessLabel {
    font-family: arial,helvetica,sans-serif;
    font-weight: bold;
    font-size: 10pt;
    color: #000099;
}
.BreadCrumbs {
    font-family: arial,helvetica,sans-serif;
    font-weight: bold;
    font-size: 10pt;
    background: #3669ac;
    color: white;
}
.BreadCrumbsLink {
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    color: white;
}
.ColHeader {
    font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
    background: #006699;
    color: #FFFF00;
}
.disclaimer {
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    background-color: #003366;
    text-align: center;
    color: #FFFFFF;
}
.Header {
    font-family: arial,helvetica,sans-serif;
    font-size: 14pt;
    font-style: normal;
    font-weight: bolder;
    background-color: #FFFFFF;
    text-align: center;
    color: #000099;
}
.Label {
    font-family: arial,helvetica,sans-serif;
    font-size: 9pt;
    font-weight: bold;
}
.LabelRight {
    font-family: arial,helvetica,sans-serif;
    font-size: 9pt;
    font-weight: bold;
    text-align: right
}
.Link {
    font-family: arial,helvetica,sans-serif;
    font-size: 9pt;
    font-weight: bold;
}
.LinkBlue {
    font-family: arial,helvetica,sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: #000099;
}
.LinkWhite {
    font-family: arial,helvetica,sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: #FFFFFF;
}
.SelectedIdentity {
	background-color:#B0C4DE;
}
.TblData {
    font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
}
.TblDataCenterSmall {
    font-family: arial,helvetica,sans-serif;
	font-size: 9pt;
	text-align: center;
}
.TblDataLeft {
    font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
	text-align: left;
}
.TblHeader {
    font-family: arial,helvetica,sans-serif;
    font-weight: bold;
    font-size: 11pt;
    background: #3669ac;
    color: #ffffff;
}
.TextLink {
    font-family: arial,helvetica,sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: #000099;
}
.UnselectedIdentity {
	background-color:white;
}