.ColHeader {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    background: #006699;
    color: #FFFF00;
}
.ColHeaderCenter {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    background: #006699;
    text-align: center;
    color: #FFFF00;
}
.ColHeaderRight {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    background: #006699;
    text-align: right;
    color: #FFFF00;
}
.BlueButton {
 height: 20px;
 border: 1px solid #000000;
 text-decoration: none;
 background-image: url(../images/blueButton.gif)
}
.arrowButton {
 cursor:hand;
 font-family: Webdings;
 font-size: 10pt;
 height: 20px;
 border: 1px solid #000000;
 text-decoration: none;
 background-image: url(../images/blueButton.gif)
}
.disclaimer {
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    background-color: #003366;
    color: #FFFFFF;
}
.DiscountPrice {
    text-decoration: line-through;
    color: red;
}
div.popup {
    border: 1px solid black;
    background: #FFF8DC;
}
.EditProductCellHighlight {
    font-family: arial,helvetica,sans-serif;
    background-color: #FFF8DC;
    text-align: left;
    cursor: default;
}
.EditProductCellSelected {
    font-family: arial,helvetica,sans-serif;
    background-color: #F0E68C;
    text-align: left;
    cursor: default;
}
.EditProductCellDeselect {
    font-family: arial,helvetica,sans-serif;
    background-color: #FFFFFF;
    text-align: left;
    cursor: default;
}
.EditProductColHeaderSelected {
    border: thin solid #F0E68C;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    font-weight: bold;
    background-color: #F0E68C;
    text-align: left;
    text-decoration: underline;
    cursor: default;
}
.EditProductColHeaderDeselect {
    border: thin solid #F0E68C;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    font-weight: bold;
    background-color: #FFF8DC;
    text-align: left;
    text-decoration: underline;
    cursor: default;
}
 
.ErrorMessage {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    color: red;
}
form {
    margin: 0px;
    padding: 0px;
}
.Header {
    font-family: arial,helvetica,sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: bolder;
    background-color: #FFFFFF;
    text-align: center;
    color: #000099;
}
input,select,textarea {
    font-family: arial,helvetica,sans-serif;
    font-size:8pt;
}
.Instruction {
    color: #006699;
    font-style: italic;
    font-weight: bold;
}
.Label {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
}
.TopHeading {
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    font-weight: bold;
}
.LabelRight {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-align:right;
}
.Link {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
}
.LookupTable {
    border-right:#006699 2px solid;
    border-top: #006699 2px solid;
    border-left: #006699 2px solid;
    border-bottom: #006699 2px solid;
    font-size: 12px;
    color: #000066;
    background-color: #C1D1EC;
    font-family: Arial, Tahoma;
    text-decoration: none;
}
.mainTable {
    border-right: #006699 3px solid;
    border-top: #006699 3px solid;
    border-left: #006699 3px solid;
    border-bottom: #006699 3px solid; 
}
 
.innerTable {
    border-right: #006699 1px solid;
    border-top: #006699 1px solid;
    border-left: #006699 1px solid;
    border-bottom: #006699 1px solid;
    }
.MatchedSearchResult {
    font-weight: bold;
}
.popup img {
    cursor: "hand";
}
.PopupHeader {
    font-family: arial,helvetica,sans-serif;
    font-size: 11pt;
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: #000099;
}
.TblHeader {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    background: #3669AC;
    color: #FFFFFF;
}
.TextLink {
    color: blue;
    text-decoration: underline;
    cursor: "hand";
}
.TextLinkWhite {
    color: white;
    text-decoration: underline;
    cursor: "hand";
}
.TotalLine {
    font-family: arial,helvetica,sans-serif;
    background: #006699;
    font-size: 9pt;
    color: white;
}
.TotalLineRight {
    font-family: arial,helvetica,sans-serif;
    background: #006699;
    font-size: 9pt;
    text-align: right;
    color: white;
}
.RequiredFieldTxt {
    font-family: arial,helvetica,sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: red;
}
.ScreenPrompt {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-style: normal;
    line-height: normal;
    background-color: #006699;
    color: #FFFF00;
    font-weight: bold
}
.ScrubTotal {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: red;
}
.ShoppingCartTotal {
    font-family: arial,helvetica,sans-serif;
    font-size: 9pt;
    color: white;
}
td {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
}
td.gray {
    color: #999999;
}
.WaitMessage {
    font-family: arial,helvetica,sans-serif;
    font-size: 12pt;
    font-weight: bold;
}
.StrikePrice{
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    color: red;
 text-decoration: line-through;
}
 
.cursor{
    cursor: "hand";
}
 
.SuccessMessage {
    font-family: arial,helvetica,sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: red;
}
 
.floatingdiv{
 width: 100%;
 height: 300px;
 overflow: auto;
 border:3px solid #006699;
 scrollbar-face-color:#006699;
 scrollbar-track-color:##006699;
 vertical-align: top;
}
 
.floatdiv{
 width: 100%;
 height: 70px;
 overflow: auto;
 
}
 
.aligntop{
    vertical-align: top;
}
 
.SuccessMessage {
    font-family: arial,helvetica,sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: red;
}
 
.disabledfield
{
background-color: #eeeeee;
}
 
.highlightedlink
{
color: #999999;
}
 
.Buttonsize
{
width:75px
}

.BigBlueButton {
height: 40px;
font-family: arial,helvetica,sans-serif;
border: 1px solid #000000;
font-size: 8pt;
text-decoration: none;
background-image: url(../images/bigBlueButton.gif)
}