body {
	font-family :Arial;
	font-size:8pt;
}
.blueButton {
	cursor:hand;
	height: 20px;
	font-size: 8pt;
	border: 1px solid #000000;
	text-decoration: none;
	background-image: url(../images/blueButton.gif) 
}
.arrowButton {
	cursor:hand;
	font-family: Webdings;
	font-size: 10pt;
	height: 20px;
	border: 1px solid #000000;
	text-decoration: none;
	background-image: url(../images/blueButton.gif)
}
.disclaimer {
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    background-color: #003366;
    color: #FFFFFF;
}

.header {
    font-family: arial,helvetica,sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: bolder;
    background-color: #FFFFFF;
    text-align: center;
    color: #000099;
}
input,select,textarea {
    font-family: arial,helvetica,sans-serif;
    font-size:8pt;
}
.Label {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
}

.ShoppingCartTotal {
    font-family: arial,helvetica,sans-serif;
    font-size: 9pt;
    color: white;
}
td {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
}
.top{
	font-size: 10pt;
	font-weight:bold;
}
.small{
	font-size: 2pt;
}