BODY
{
    MARGIN: 0px;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
TD
{
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
INPUT
{
    FONT-SIZE: 14px;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
TEXTAREA
{
    FONT-SIZE: 14px;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
IMG
{
    FONT-SIZE: 10px;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
SELECT
{
    FONT-SIZE: 14px;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
H1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: #22497C;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
H2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16pt;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
H3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: teal;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
A.text:hover
{
    COLOR: #FFFFFF;
    TEXT-DECORATION: none;
}
A.text:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #FFFFFF;
    FONT-FAMILY: arial,helvetica,sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
A.textcurrent:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: arial,helvetica,sans-serif;
    LETTER-SPACING: normal;
    TEXT-DECORATION: none
}
A.navbarText
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #FFFFFF;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.mainpageheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    COLOR: #22497C;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.BGBarColor
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BACKGROUND: #99ccff;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.TblHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    BACKGROUND: #3669AC;
    color: #FFFFFF;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.TblText
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.TblTextRed
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.TblTextBold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.TblTextHeader
{
	Background: #0066CC; 
	border: auto #0066CC; 
	FONT-FAMILY: arial,helvetica,sans-serif; 
	font-size: 9pt; 
	color: #FFFFFF; 
	font-weight: bold;
    TEXT-ALIGN: center;
}
.TblTextLabel
{
	FONT-FAMILY: arial,helvetica,sans-serif; 
	font-size: 10pt; 
	color: black; 
	font-weight: bold;
}
.SectionHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: black;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.Error
{
    FONT-SIZE: 10pt;
    COLOR: black;
    Background: pink;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.ErrorHeader
{
    FONT-SIZE: 10pt;
    COLOR: yellow;
    Background: red;
    FONT-FAMILY: arial,helvetica,sans-serif;
    FONT-WEIGHT: bold;
}
.Label
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    FONT-FAMILY: arial,helvetica,sans-serif;
}
.LabelRight
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    FONT-FAMILY: arial,helvetica,sans-serif;
    TEXT-ALIGN: right
}
.Instruction
{
	COLOR: green;
	FONT-STYLE: italic;
}
.Prompt
{
	COLOR: red;
    FONT-SIZE: 14pt;
}
.message
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #cc0000;
}
.matchedSearchResult
{
    FONT-WEIGHT: bold;
}
.LiveIndex
{
    FONT-SIZE: 12pt;
	BACKGROUND-COLOR: #eeddee;
}
.SearchIndex
{
    FONT-SIZE: 12pt;
	BACKGROUND-COLOR: #ddeedd;
}
.Header {  
	font-family: arial,helvetica,sans-serif;
	font-size: 14pt; 
	font-style: normal; 
	background-color: #FFFFFF; 
	text-align: center; 
	color: #000099; 
	font-weight: bolder;
}
.Header2 {  
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt; 
	font-style: normal; 
	background-color: #FFFFFF; 
	text-align: center; 
	color: #BLACK; 
	font-weight: bold;
}
.Header3 {  
	font-family: arial,helvetica,sans-serif;
	font-size: 12pt; 
	font-style: normal; 
	background-color: #FFFFFF; 
	text-align: left; 
	color: teal; 
	font-weight: bold;
}
.Disclaimer {  
	font-family: arial,helvetica,sans-serif;
	font-size: 12px; 
	font-style: normal; 
	background-color: #003366;
	text-align=center; 
	color: #FFFFFF; 
}
.Description {  
	font-family: arial,helvetica,sans-serif;
	font-size: 9pt; 
	font-style: normal
}
.ScreenPrompt {  
	font-family: arial,helvetica,sans-serif;
	font-size: 12pt; 
	font-style: normal; 
	line-height: normal; 
	background-color: 006699; 
	color: #FFFF00; 
	font-weight: bold
}
.HighlightAvail
{
    COLOR: black;
    FONT-SIZE: 12px;
	BACKGROUND-COLOR: #DDEEDD;
}
.HighlightUnavail
{
    COLOR: black;
    FONT-SIZE: 12px;
	BACKGROUND-COLOR: #F5C2DE;
}
.HighlightNone
{
    FONT-SIZE: 12px;
    COLOR: black;
	BACKGROUND-COLOR: #FFFFFF;
}
.StrikeThru
{
    COLOR: red;
	text-decoration: line-through;
}
.LookupTable
{
    BORDER-RIGHT: #000066 2px solid;
    BORDER-TOP: #000066 2px solid;
    BORDER-LEFT: #000066 2px solid;
    BORDER-BOTTOM: #000066 2px solid;
    FONT-SIZE: 12px;
    COLOR: #000066;
    BACKGROUND-COLOR: #f0ecda;
    FONT-FAMILY: Arial, Tahoma;
    TEXT-DECORATION: none;
}
.SelectTable
{
    BORDER-RIGHT: #FFCC00 2px solid;
    BORDER-TOP: #FFCC00 2px solid;
    BORDER-LEFT: #FFCC00 2px solid;
    BORDER-BOTTOM: #FFCC00 2px solid;
    FONT-SIZE: 12px;
    COLOR: #000066;
    FONT-FAMILY: Arial, Tahoma;
    BACKGROUND-COLOR: #FFF1B8;
    TEXT-DECORATION: none
}
.DeliverableWithoutCharge
{
    BORDER-RIGHT: #000000 0px solid;
    BORDER-TOP: #ffffff 0px solid;
    FONT-WEIGHT: 600;
    BORDER-LEFT: #ffffff 0px solid;
    WIDTH: 32px;
    CURSOR: hand;
    COLOR: #a9a9a9;
    BORDER-BOTTOM: #000000 0px solid;
    HEIGHT: 23px;
    TEXT-ALIGN: center;
    Fontfamily: Tahoma,Arial, Verdana
}
.DeliverableWithCharge
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #FFFFFF 1px solid;
    BORDER-LEFT: #FFFFFF 1px solid;
	BORDER-BOTTOM: #000000 1px solid;
    FONT-WEIGHT: 600;
    FONT-SIZE: 8pt;
    WIDTH: 42px;
    CURSOR: hand;
    COLOR: #006699;
    FONT-FAMILY: Tahoma, Arial, Verdana;
    HEIGHT: 28px;
    TEXT-ALIGN: center
}
.BlankDay
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-WEIGHT: 600;
    FONT-SIZE: 8pt;
    WIDTH: 42px;
    COLOR: #0000a0;
    HEIGHT: 28px;
    BACKGROUND-COLOR: #d5d1c8;
    TEXT-ALIGN: center;
    Fontfamily: Tahoma, Arial,Verdana
}
.Nondeliverable
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-WEIGHT: 600;
    FONT-SIZE: 8pt;
    WIDTH: 42px;
    COLOR: #a9a9a9;
    HEIGHT: 28px;
    BACKGROUND-COLOR: #d5d1c8;
    TEXT-ALIGN: center;
    Fontfamily: Tahoma, Arial,Verdana
}
.desc_ie_5
{
    FONT-SIZE: 12px;
    LEFT: 10px;
    VISIBILITY: hidden;
    WIDTH: 400px;
    COLOR: #009000;
    FONT-FAMILY: arial;
    POSITION: absolute;
    TOP: 255px;
    TEXT-ALIGN: left
}
.pricedesc_ie_5
{
    FONT-SIZE: 12px;
    LEFT: 10px;
    VISIBILITY: hidden;
    WIDTH: 400px;
    COLOR: blue;
    FONT-FAMILY: arial;
    POSITION: absolute;
    TOP: 350px;
    TEXT-ALIGN: left
}
.displayText
{
    FONT-FAMILY: arial, 
	font-size:24px, 
	color:#FFFFFF, 
	position:absolute, 
	visibility:visible, 
	z-index:2
}
