body
{
  background-color: White;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
h1
{
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bolder;
  text-transform: capitalize;
}
h2
{
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bolder;
  text-transform: capitalize;
}
h3
{
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: lighter;
  text-transform: capitalize;
}
table.mainTable
{
  border: thin ;    
}

button {
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
}

caption 
{
  background-color:#6B79A5;
  color:#CED7EF;
  font-weight: bolder;
  vertical-align:middle;
  height: 25px;
  /*
  padding-left: 5px;
  padding-top: 5px;
  */
  border-bottom:1px solid #182052;
  border-style:solid none;
  border-top:1px solid #BDC7E7;
  border-width:1px 0px;
  font-size:12px;
}

.caption 
{
  background-color:#6B79A5;
  color:#CED7EF;
  font-weight: bolder;
  vertical-align:middle;
  height: 25px;
  /*
  padding-left: 5px;
  padding-top: 5px;
  */
  border-bottom:1px solid #182052;
  border-style:solid none;
  border-top:1px solid #BDC7E7;
  border-width:1px 0px;
  font-size:12px;
  
  text-align: center;
}

.smallCaption 
{
  background-color:#6B79A5;
  color:#CED7EF;
  height: 20px;
  font-weight: bolder;
  padding: 2px;
  border-bottom:1px solid #182052;
  border-style:solid none;
  border-top:1px solid #BDC7E7;
  border-width:1px 0px;
  font-size:10px;
  text-align: center;
  vertical-align: middle;
}

.orderCaption {
  background-color: #dde;
  color: #448;
  font: bold 12px Verdana, sans-serif;
  vertical-align:middle;
  height: 16px;
  /*height: 25px;*/
}

td {
    text-align: left;
}

.centerColumn {
    text-align: center;
}

td.labelRight 
{
    text-align: right;
    width: 16.66%;
}

label.labelRight 
{
    font-weight: bold;
}

.price 
{
    text-align: right;
    width: 50px;
}

.radioLabel
{
    text-align: left;
    font-weight: bold;
    width: 150px;
}

.imageicon {
    vertical-align: middle;
}

table.payment {
    width: 100%;
    background-color: #eeeeee;
    border-color: #eeeeee;
}

table.billing {
    width: 745px;
}

.script {
  text-align: center;
}

.productSearchPageNav a{
  font-size:large;
  color: navy;
  cursor: default; 
}

.productSearchPageNav a:hover{
  /*font-size: large;*/
  cursor: auto; 
  color: green; 
}

.productSearchPromo table {
    background-color: #99cc99;
}

.productSearchPromoImg {
    height:90px;
    width:90px;
    border-style:none;
}

.productSearchProductImg {
    height:110px;
    width:110px;
    border-style:none;
}

.productSearchProductColumn {
    width:122px;
    border-style:none;
    vertical-align: top;
    height:100%;
}

.productSearchPromoTable {
    background-color: #99cc99;
}

.productSearchProductTable {
    /*
    background-color: #ffcccc;
    */
    background-color: #eeeeee;
}

.productSearchSuggestTable {
    background-color: #ccccff;
}

.productSearchSuggestColumn {
    width:94px;
    border-style:none;
    vertical-align: top;
    background-color: #ccccff;
    height:100%;
}

#psCrossSellDiv {
    display: none;
}

#psViewedDivId {
    position: absolute; 
    top: 120px; 
    left: 300px;
    padding:2px;
    background-color:#eeeeee;
    width: 300px;
    height: 215px;
    
}

#innerPsViewedDivId {
    height: 211px;
    background-color:#6B79A5;
}

.centeredDetailedProductImage
{
    text-align:center;
    display:block;
    width:330px;
    height:370px;
    vertical-align: middle;
}

.psResultsDiv {
    position: absolute; 
    top: 95px; 
    left: 133px;
    padding:2px;
    background-color:#eeeeee;
    width: 637px;
    height: 562px;
    
}

.innerPsResultsDiv {
    height: 562px;
    overflow:auto;
    background-color:#ffffff;
}

.psDetailDiv {
    position: absolute; 
    top: 90px; 
    left: 133px;
    padding:2px;
    background-color:#eeeeee;
    width: 637px;
    height: 582px;
    
}

.innerPsDetailDiv {
    height: 582px;
    overflow:auto;
    background-color:#ffffff;
}

#copyDivId {
    position: absolute; 
    top: 28px; 
    left: 10px;
    width: 180px;
    padding: 2px;
    background-color: #6B79A5;
}

#innerCopyDivId {
    background-color: #ffffcc;
}

.maintListDiv {
    position: absolute; 
    top: 60px; 
    left: 5px; 
    width: 986px; 
    height:345px; 
    overflow:auto;
    background-color: #eeeeee;
}

.maintDetailDiv {
    position: absolute; 
    top: 415px; 
    left: 5px; 
    width: 986px;
    text-align: center;  
    background-color: #eeeeee;
}

#productDeliveryDateCalContainer { 
    display:none; 
    position:absolute; 
    z-index:1;
} 

#productSearchDeliveryDateCalContainer { 
    display:none; 
    position:absolute; 
    z-index:1;
} 

.greyElement {
    background-color:#eeeeee;
    border-color:#eeeeee;
} 

.whiteElement {
    background-color:white;
    border-color:white;
}

textarea.joe
{
  background-color: White;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.joeconfirmation {
    text-align: center;
    background-color:#eeeeee;   
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; 
}

.joeconfirmationPG {
    text-align: center;
    background-color:#eeeeee;   
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
}

input.avRadio {
	float: left;
	margin-top: 50px;
}
table.address {
	padding:0px 10px;
}
table#addressVerificationDivId {
	width:800px;
}
table.addressVerificationChoice {
	margin:0px auto;
}