#leftDivId {
    position: absolute; 
    top: 5px; 
    left: 5px; 
    background-color:#eeeeee;
    padding:2px;
    width:200px;
    height:661px;
    text-align: center;
}

#rightDivId {
    position: absolute; 
    top: 5px; 
    left: 214px; 
    background-color:#eeeeee;
    padding:2px;
    width:845px;
    height:641px;
    text-align: center;
}
#innerRightDivId {
  background-color:#ffffff;
  height:641px;
}

.notifyDiv {
    position: absolute; 
    top: 5px; 
    left: 5px;
    padding: 2px;
    width: 200px;
}

.innerNotifyDiv {
    background-color: #cc0033;
    color: #eeeeee;
    font-weight: bold;
    padding: 2px;
}

.logDiv {
    position: absolute; 
    top: 5px; 
    left: 5px;
    padding: 2px;
    width: 200px;
    height: 300px;
}

.innerLogDiv {
    height: 270px;
    background-color: blue;
    color: #eeeeee;
    /*font-weight: bold;*/
    /*overflow: auto;*/
    padding: 2px;
}

.businessDiv {
  background-color: #dde;
  color: #448;
  font: bold 12px Verdana, sans-serif;
}

.detailDiv {
  padding-left: 5px;
  padding-top: 5px;
  /*
  width:650px;
  */
  width:840px;
  height:575px;
  text-align: left;
}

.cartItemDiv {
    background-color:#6B79A5;
    background-repeat: no-repeat; 
    background-position: center;
    width:180px; 
    /*height:90px;*/
    text-align: left;
    font-weight: bold;
    color: White;
}

.scriptDiv {
  background-color:#6B79A5;
  color:Yellow;
  vertical-align:middle;
  height: 25px;
  /*
  padding-left: 5px;
  padding-top: 5px;
  */
  border-bottom:1px solid #182052;
  border-style:solid none;
  border-top:1px solid #BDC7E7;
  border-width:1px 0px;
  font: bold 12px Verdana, sans-serif;
}

.productSearchDiv {
    position: absolute; 
    top: 5px; 
    left: 214px;
    background-color:#ffffff;
    width: 775px;
    height: 674px;
    /*height: 684px;*/
}

.innerProductSearchDiv {
    height: 674px;
    /*height: 684px;*/
    /*overflow: auto;*/
}

.textSearchDiv {
    position: absolute; 
    top: 77px; 
    left: 102px;
    background-color:#ffffff;
    width: 820px;
    height: 614px;
}

.innerTextSearchDiv {
    height: 614px;
    /*overflow: auto;*/
}

.cartCaption {
  background-color:#6B79A5;
  color:#CED7EF;
  height: 16px;
  font-weight: bolder;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  
  border-bottom:1px solid #182052;
  border-style:solid none;
  border-top:1px solid #BDC7E7;
  border-width:1px 0px;
  font-size:12px;
  
  text-align: center;
}

/* begin accordian styling */
p.top { clear:both;margin:0px; }
.top { font-size:smaller; }
table#compat thead tr { background-color:#DDD; }
table#compat td { text-align:center; }
table#compat tr { vertical-align:bottom; }
#accordionDiv {
    border : 1px solid #4f4f4f;
    width: 830px;
    margin-top:6px;
	text-align: center;
}

.accordionTabTitleBar {
  background-color:#6B79A5;
  color:#CED7EF;
  height: 22px;
  font-weight: normal;
  padding-left: 5px;
  padding-top: 5px;
  
  border-bottom:1px solid #182052;
  border-style:solid none;
  border-top:1px solid #BDC7E7;
  border-width:1px 0px;
  font-size:12px;
}

.accordionTabContentBox {
  font-size: 11px;
  padding-left: 5px;
  overflow: auto;
}

div.selected, div.hover {
  background-color:#63699C;
  color:#FFFFFF;
  font-weight:bold;
  height: 22px;
  padding-left: 5px;
}
/* end accordian styling */
