body {
	font-family: tahoma, verdana, sans-serif;
    font-size: 12px;
}

.Header {
    font-family: arial,helvetica,sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: bolder;
    background-color: #FFFFFF;
    text-align: center;
    color: #000000;
}
.footer {
    float: left;	
    width: 100%;
}
.disclaimer {
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    background-color: #000000;
    color: #FFD700;
}
h1 {
	font-size: 20px;
	font-weight: bold;
}

h2 {
	font-size: 17px;
    background-color: #FFEEDD;
}

h3 {
	font-size: 13px;
}

.news {
	padding-top: 0px;
	margin-top: 0px;
	font-size: 10px;
}

a, a:hover, a:link, a:active, a:visited {
    text-decoration: none;
    background-image: url(../images/black_gradient.gif);
    border: 1px solid black;
    padding: 3px;
    color: #FFD700;
    background-color:#000000;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    background-repeat: repeat-x;
}

borderTable {
	border: 1px;
	border-style: solid;
}

caption { 
	font-size: 12pt;
	font-weight: bold;
	border-bottom: 1px;
    color: #000000;
}

th {
	font-size: 10pt;
	color: white;
}

.even {
	font-size: 10pt;
	background-color: #f1f9fd;
}

.odd {
	font-size: 10pt;
	background-color: #44FFFF;
}

.label { 
	font-size: 10pt;
	font-weight: bold;
}

.input {
	font-size: 10pt;
}

.error {
	font-size: 9pt;
	color: red;
}




#main {
	border: 1px solid #666;
	clear: both;
	padding-top: 1em;
}

#contents {
	padding: .5em;
	min-height: 300px;
}

#header {
	position: relative;
	width: 100%;
	height: 3em;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header ul#primary {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header ul#primary li  {
	display: inline;
	list-style: none;
}

#header ul#primary a,#header ul#primary span,#header ul#primary a.current {
	width: 8em;
	display: block;
	float: left;
	padding: 4px 0;
	margin: 1px 2px 0 0;
	text-align: center;
	font-family: tahoma, verdana, sans-serif;
	font-size: 85%;
	text-decoration: none;
	color: #333;
}

#header ul#primary span,#header ul#primary a.current,#header ul#primary a.current:hover {
	border: 1px solid #666;
	border-bottom: none;
	background: #DDDDDD;
	padding-bottom: 6px;
	margin-top: 0;
}

#header ul#primary a {
	background: #EEEEEE;
	border: 1px solid #AAA;
	border-bottom: none;
}

#header ul#primary a:hover {
	margin-top: 0;
	border-color: #666;
	background: #DDDDDD;
	padding-bottom: 5px;
}

.results {
    background-color: #EEEEEE;    
    float: left;
    width: 100%;
}

.leftSide {
    float: left;
    width: 49%;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 0px;

}

.rightSide {
    float: right;
    width: 49%;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 5px;
}

.rightSideSmallTable {
    float: right;
    width: 48%;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 5px;
}

.leftSideGraph {
    float: left;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 0px;

}

.rightSideTable {
    float: left;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 5px;
}
.left {
    float: left;
    margin-left: 2px;
    margin-right: 2px;
}
.notes {
    margin: 5px;
    float: left;
	font-size: 8pt;
    background-color: #FFEEDD;
}

.top {
    width: 99%;
    margin: 5px;
    float: left;
    background-color: #DDDDDD;
    border: 1px solid black;
}
.quarter {
    width: 24%;
    float: left;
}

.full {
    width: 99%;
    float: left;
    padding: 4px;
}
p.oneValue {
    margin-top: 2px;
    margin-bottom: 2px;
    margin: 5px;
}

.hidden {
    visibility: hidden;
}

.menu {
    width: 99%;
    float: left;
    padding: 5px;
}

.headerLeft {
    float: left;
    width: 30%;
}

.headerRight {
    float: right;
    width: 30%;
}
.headerCenter {
    float: left;
    width: 30%;
}

table.smalltable th {
	font-size: 9.5px;
	color: black;
}
table.smalltable td {
	font-size: 9.5px;
    text-align: center;
}

table.smalltable .even {
	font-size: 9.5px;
	background-color: #f1f9fd;
}

table.smalltable .odd {
	font-size: 9.5px;
	background-color: #FFFFCC;
}

.displayNone {
    display: none;    
}

.triSection {
    width: 100%;
    float: left;
}

.triSection div {
    float: left;
    width: 30%;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}
.triSectionLeft {
}

.triSectionMid {
}

.triSectionRight {
}

.maindiv {
    padding:0;
    margin:0;
    border-width: 10px;
    border-style: solid;
    border-color: #000000;
    float: left;
}

.blackdashboard {
    background-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-color: #FFD700;
    color: #FFD700;
    width: 99%;
    float: left;
}

.instanceSection {
    width: 12%;
    float: left;
}

.instanceSectionGraph {
    width: 100%;
    float: left;
}
.instanceSectionHeader {
    width: 100%;
    float: left;
}
div.instanceSectionHeader p{
	color: #FFD700;
	text-align: center;
}
.oracleGraphRow {
	float: left;
	border: 3px inset #FFD700;
	padding: 1px;
	width: 100%;
}

.oracleGraphRowSidebar0 {
	float: left;
	width: 100px;
}
.oracleGraphRowSidebar1 {
	float: left;
	width: 100px;
}
.oracleGraphRowSidebar2 {
	float: left;
	width: 100px;
}
div.oracleGraphRowSidebar0 p{
	text-align: center;
	background-color: #00FF00;
	color: #000000;
}
div.oracleGraphRowSidebar1 p{
	text-align: center;
	background-color: #FFFF00;
	color: #000000;
}
div.oracleGraphRowSidebar2 p{
	text-align: center;
	background-color: #FF0000;
	color: #000000;
}
