.alignright {
	TEXT-ALIGN: right
}
.alignleft {
	TEXT-ALIGN: left
}
.banner {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #006699; TEXT-ALIGN: center
}
.ColHeader {
	FONT-SIZE: 8pt; BACKGROUND: #006699; COLOR: #ffff00; FONT-FAMILY: arial,helvetica,sans-serif
}
.ColHeaderCenter {
	FONT-SIZE: 8pt; BACKGROUND: #006699; COLOR: #ffff00; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-ALIGN: center
}
.ColHeaderRight {
	FONT-SIZE: 8pt; BACKGROUND: #006699; COLOR: #ffff00; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-ALIGN: right
}
.BlueButton {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(../images/blueButton.gif); BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 20px; TEXT-DECORATION: none
}
.BigBlueButton {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(../images/bigBlueButton.gif); BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: arial,helvetica,sans-serif; HEIGHT: 40px; TEXT-DECORATION: none
}
.disclaimer {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #003366
}
.DiscountPrice {
	COLOR: red; TEXT-DECORATION: line-through
}
DIV.popup {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BACKGROUND: #fff8dc; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
.EditProductCellHighlight {
	CURSOR: default; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #fff8dc; TEXT-ALIGN: left
}
.EditProductCellSelected {
	CURSOR: default; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #f0e68c; TEXT-ALIGN: left
}
.EditProductCellDeselect {
	CURSOR: default; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.EditProductColHeaderSelected {
	BORDER-RIGHT: #f0e68c thin solid; BORDER-TOP: #f0e68c thin solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT: #f0e68c thin solid; CURSOR: default; BORDER-BOTTOM: #f0e68c thin solid; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #f0e68c; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
.EditProductColHeaderDeselect {
	BORDER-RIGHT: #f0e68c thin solid; BORDER-TOP: #f0e68c thin solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT: #f0e68c thin solid; CURSOR: default; BORDER-BOTTOM: #f0e68c thin solid; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #fff8dc; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
.ErrorMessage {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: arial,helvetica,sans-serif
}
.floatleft {
	FLOAT: left
}
.floatright {
	FLOAT: right
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Header {
	FONT-WEIGHT: bolder; FONT-SIZE: 12pt; COLOR: #000099; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
INPUT {
	FONT-SIZE: 8pt; FONT-FAMILY: arial,helvetica,sans-serif
}
SELECT {
	FONT-SIZE: 8pt; FONT-FAMILY: arial,helvetica,sans-serif
}
TEXTAREA {
	FONT-SIZE: 8pt; FONT-FAMILY: arial,helvetica,sans-serif
}
.Instruction {
	COLOR: green; FONT-STYLE: italic
}
.Label {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: arial,helvetica,sans-serif
}
.labelpad {
	PADDING-LEFT: 1cm; FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: arial,helvetica,sans-serif
}
.LabelRight {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-ALIGN: right
}
.largeErrorMsgTxt {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: red; FONT-FAMILY: arial,helvetica,sans-serif
}
.Link {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: arial,helvetica,sans-serif
}
.LookupTable {
	BORDER-RIGHT: #000066 2px solid; BORDER-TOP: #000066 2px solid; FONT-SIZE: 12px; BORDER-LEFT: #000066 2px solid; COLOR: #000066; BORDER-BOTTOM: #000066 2px solid; FONT-FAMILY: Arial, Tahoma; BACKGROUND-COLOR: #f0ecda; TEXT-DECORATION: none
}
.mainTable {
	BORDER-RIGHT: #006699 3px solid; BORDER-TOP: #006699 3px solid; BORDER-LEFT: #006699 3px solid; BORDER-BOTTOM: #006699 3px solid
}
.innerTable {
	BORDER-RIGHT: #006699 1px solid; BORDER-TOP: #006699 1px solid; BORDER-LEFT: #006699 1px solid; BORDER-BOTTOM: #006699 1px solid; empty-cells: show
}
.MatchedSearchResult {
	FONT-WEIGHT: bold
}
.popup IMG {
	CURSOR: hand
}
.PopupHeader {
	FONT-WEIGHT: bolder; FONT-SIZE: 11pt; COLOR: #000099; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-ALIGN: center
}
.TblHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #3669ac; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
.TextLink {
	CURSOR: hand; COLOR: blue; TEXT-DECORATION: underline
}
.TextLinkWhite {
	CURSOR: hand; COLOR: white; TEXT-DECORATION: underline
}
.TotalLine {
	FONT-SIZE: 9pt; BACKGROUND: #006699; COLOR: white; FONT-FAMILY: arial,helvetica,sans-serif
}
.TotalLineRight {
	FONT-SIZE: 9pt; BACKGROUND: #006699; COLOR: white; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-ALIGN: right
}
.TopHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; FONT-FAMILY: arial,helvetica,sans-serif
}
.RequiredFieldTxt {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: red; FONT-FAMILY: arial,helvetica,sans-serif
}
.ScreenPrompt {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffff00; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #006699
}
.ScrubTotal {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: arial,helvetica,sans-serif
}
.ShoppingCartTotal {
	FONT-SIZE: 9pt; COLOR: white; FONT-FAMILY: arial,helvetica,sans-serif
}
TD {
	FONT-SIZE: 8pt; FONT-FAMILY: arial,helvetica,sans-serif
}
TD.gray {
	COLOR: #999999
}
.WaitMessage {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-FAMILY: arial,helvetica,sans-serif
}
.StrikePrice {
	FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: line-through
}
.alignBottomCenter {
	VERTICAL-ALIGN: text-bottom; TEXT-ALIGN: center
}
DIV.tableContainer {
	OVERFLOW: auto; WIDTH: 768px; HEIGHT: 250px
}
DIV.tableContainer TABLE {
	FLOAT: left; WIDTH: 100%
}
THEAD.fixedHeader TR {
	POSITION: relative
}
UNKNOWN {
	DISPLAY: block; OVERFLOW: scroll; WIDTH: 100%; HEIGHT: 262px
}
THEAD.fixedHeader TR {
	VERTICAL-ALIGN: bottom; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
TH {
	FONT-SIZE: 8pt; FONT-FAMILY: arial,helvetica,sans-serif
}
TBODY.scrollContent TD {
	TEXT-ALIGN: center
}
#ca TD {
	PADDING-LEFT: 0.3em; VERTICAL-ALIGN: text-bottom
}
#ca_cart TD {
	FONT-SIZE: 8pt
}
#csciInfo TD {
	PADDING-LEFT: 0.3em; VERTICAL-ALIGN: bottom
}
#csciHeader TD {
	PADDING-LEFT: 0.3em; VERTICAL-ALIGN: bottom
}
#itemContainer TD {
	VERTICAL-ALIGN: bottom
}
#recipInfoCustHeader TD {
	PADDING-LEFT: 0.3em
}
#recipInfo TD {
	PADDING-LEFT: 0.3em
}
#recipientSummary TD {
	PADDING-LEFT: 0.3em
}
#vendorSummary TD {
	PADDING-LEFT: 0.3em
}
.orderToolTip TD {
	PADDING-LEFT: 1em; FONT-SIZE: 8pt; FONT-FAMILY: arial,helvetica,sans-serif
}
#membershipInfoPopup TD.Label {
	TEXT-ALIGN: right
}
#membershipInfoPopup TD {
	PADDING-LEFT: 0.5em
}
#altContactInfo TD.Label {
	TEXT-ALIGN: right
}
#altContactInfo TD {
	PADDING-LEFT: 0.5em
}
#cartPayment TD.Label {
	TEXT-ALIGN: right
}
#cartPayment TD {
	PADDING-LEFT: 0.4em; TEXT-ALIGN: left
}
#orderPayment TD.Label {
	TEXT-ALIGN: right
}
#orderPayment TD {
	PADDING-LEFT: 0.4em; TEXT-ALIGN: left
}
