
#contentTable {
  border-bottom: black 3px solid;
  border-left: black 3px solid;
  border-top: black 3px solid;
  border-right: black 3px solid;
  width: 100%;
  height: 75%;
  border-collapse: collapse;
  
}

h5 {color:ActiveCaption;}

.ChildTable td 
{/*border: solid 1px black;*/}


.mainlefttd {
  
  border: black 1px solid;
  vertical-align: top;
}

.mainrighttd {
  border: black 1px solid;
  vertical-align: top;
  
}



.sectionTable {
    border: none;
    border-width: 0px;
    width: 100%;
    empty-cells:show;
}


.sectionTable td {
    border: none;
    width: 100%;
    empty-cells:show;
}

.ScrollPane {
  overflow: auto;
  height: 700px;/*95%;*/
  /*max-height: 95%;*/
  margin-top: 20px;
  padding-left: 5px;
}

#treePanel {
  
}

#valuePanel {
  overflow: auto;
  height: 700px;
  /*margin-bottom : -50px;*/
  margin-top: 20px;
}

.PanelHeader {
  font-weight: bold;
	font-size: 14px;
	background-color: #D1BC63;
  color: #000000;
	font-family: arial,helvetica,sans-serif;  
  text-align: center;
}
