.footer {  
    font-family: arial,helvetica,sans-serif;
    font-size: 10px; 
    font-style: normal; 
    background-color: #000000;
    text-align: center;
    text-transform: uppercase;
    color: #D1BC63; 
    /*position: absolute; 
    left: 6px; */
    width: 100%;/*986px;*/
}

.header {
    FONT-FAMILY: arial,helvetica,sans-serif;
    font-size: 12pt; 
    font-style: normal; 
    background-color: #000000; 
    text-align: center; 
    color: #FFFFFF; 
    font-weight: bolder;
    text-transform: uppercase;
}

.headerDiv {  
    position: absolute; 
    top: 5px; 
    left: 5px; 
    width: 986px;
    background-color: #000000;
    color: #FFFFFF;
    text-transform: uppercase;
}

.clock
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    FONT-FAMILY: arial,helvetica,sans-serif;
    text-align: right;
    color: #FFFFFF;
}

.oeMaintSearchDiv {
    position: absolute; 
    top: 60px; 
    left: 5px; 
    width: 986px; 
    height:145px;
    text-align: center;
    overflow:auto;
    background-color: #eeeeee;
}

.oeMaintListDiv {
    position: absolute; 
    top: 215px; 
    left: 5px; 
    width: 986px;
    height: 400px;
    text-align: center;  
    background-color: #eeeeee;
}

.oeMaintDetailDiv {
    position: absolute; 
    top: 60px; 
    left: 5px; 
    width: 986px; 
    height:605px; 
    padding:2px;
    background-color: #eeeeee;
}

.oeMaintDetailInnerDiv {
    height:605px;
    overflow:auto;
    background-color:#ffffff;
}
.iotwDiv {
    position: absolute; 
    top: 60px; 
    left: 5px; 
    width: 986px; 
    height:605px; 
    padding:0px;
    text-align: center;
    background-color: #eeeeee;
}

.iotwInnerDiv {
    height:605px;
    overflow:auto;
    background-color:#ffffff;
}

.iotwListDiv {
    overflow:scroll;
    height:532px;
    width:980px
}

.iotwNovatorDiv {
    position: absolute; 
    top: 570px; 
    left: 5px; 
    width: 986px;
    text-align: center;  
}

.iotwButtonsDiv {
    position: absolute; 
    top: 595px; 
    left: 5px; 
    width: 986px;
    text-align: center;  
}

.xcMaintDetailInnerDiv {
    height:240px;
    overflow:auto;
    background-color:#ffffff;
}

.xcMaintDetailDiv {
    position: absolute; 
    top: 60px; 
    left: 5px; 
    width: 986px; 
    height:250px; 
    padding:2px;
    overflow:auto;
    background-color: #eeeeee;
}

.xcMaintDetailInnerDiv {
    width:982px;
    overflow:auto;
}

.xcMaintEditDiv {
    position: absolute; 
    top: 300px; 
    left: 9px; 
    width: 978px; 
    /*height:250px; */
    padding:2px;
    background-color: #eeeeee;
}

.xcMaintEditInnerDiv {
    width:978px;
    background-color: #ffffff;
    overflow:auto;
}

.xcMaintEditRowDiv {
    width:958px;
    height:300px;
    overflow:auto;
}
.xcMaintNovatorDiv {
    /* position: absolute; 
    top: 300px; */
    left: 5px; 
    width: 978px;
    text-align: center;  
}

.xcMaintButtonsDiv {
    /* position: absolute; 
    top: 325px; */
    left: 5px; 
    width: 978px;
    text-align: center;  
}

.xcdProductName {
    height: 60px;
}

.xcdProductException {
    height: 14px;
}

.xcdNotifyArea
{
    background-color : #eeeeee;
    color : black;
    overflow : auto;
    height : 100%;
    padding-left : 2px;
    display : inline;
}

.xclProduct {
    float: left;
}

.xcOver21 {
    display: inline;
}
.xcOver21Hidden {
    display: inline;
    visibility: hidden;
}

.xcSameDay {
    display: inline;
}
.xcSameDayHidden {
    display: inline;
    visibility: hidden;
}

.xcdProductImage {
    height: 90px;
    width: 90px;
}
.xcProductLinkNO {
    background-color: yellow;
}

.xcdTable {
    width: 180px;
}

.xcRemoveTableDiv {
    overflow: scroll;
    height: 340px;
}

a.notAvail {
    color: #FF0000; 
}

.actionButtons {
    position: absolute; 
    top: 650px;
    left: 5px; 
    width: 700px;
}

CAPTION
{
    padding: 0px 0px 0px 0px;
}

.phraseDiv {
    position: absolute; 
    top: 60px; 
    left: 5px; 
    width: 986px; 
    height:605px; 
    padding:2px;
    text-align: center;
    background-color: #eeeeee;
}

.phraseInnerDiv {
    width:100%;
    height:605px;
    overflow:auto;
    text-align: center;
    background-color:#ffffff;
}

.phraseButtonsDiv {
    position: absolute; 
    top: 580px; 
    left: 5px; 
    width: 986px;
    text-align: center;  
}

.favNotifyArea
{
    background-color : #eeeeee;
    color : black;
    overflow : auto;
    height : 100%;
    padding-left : 2px;
    display : inline;
}


/*input
{
  border: 1px solid #DECF98;
}
select { 
  border: 1px solid #DECF98;
}
textarea { 
  border: 1px solid #DECF98;
}

.selBox{
   border: 1px solid #DECF98;
} */
