.AccessLabel {
    font-family: arial,helvetica,sans-serif;
    font-weight: bold;
    font-size: 8pt;
    color: #000099;
}
.BreadCrumbs {
    font-family: arial,helvetica,sans-serif;
    font-weight: bold;
    font-size: 9pt;
    background: #3669ac;
    color: white;
}
.BreadCrumbsLink {
    font-family: arial,helvetica,sans-serif;
    font-size: 9pt;
    color: white;
}
.ExitLink {
	font-family: arial,helvetica,sans-serif;
	font-size: 9pt;
	color: #FFFFCC;
}
.ColHeader {
    font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
    background: #006699;
    color: #FFFF00;
}
.disclaimer {
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    background-color: #003366;
    text-align: center;
    color: #FFFFFF;
}
.ErrorField {
	background-color: pink;
}
.Header {
    font-family: arial,helvetica,sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: bolder;
    background-color: #FFFFFF;
    text-align: center;
    color: #000099;
}
input,select,textarea {
    font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
}
.Label {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
}
.LabelRight {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-align: right
}
.Link {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
}
.LinkBlue {
    font-family: arial,helvetica,sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: #000099;
}
.LinkWhite {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: #FFFFFF;
}
.SelectedIdentity {
	background-color:#B0C4DE;
}
.TblData {
    font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
}
.TblDataCenterSmall {
    font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
	text-align: center;
}
.TblDataLeft {
    font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
	text-align: left;
}
.TblHeader {
    font-family: arial,helvetica,sans-serif;
    font-weight: bold;
    font-size: 8pt;
    background: #3669ac;
    color: #ffffff;
}
td {
    font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
}
.TextLink {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: #000099;
}
.UnselectedIdentity {
	background-color:white;
}
.ErrorMessage {
	font-family: arial,helvetica,sans-serif;
	font-size: 9;
	color: red;
}
.Wrap
{
    word-wrap: break-word;
}
.Required
{
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: red;
}

.PopupHeader {
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    color: #000099;
}
.floatleft{
    float:left;
}
.floatright{
    float:right;
}
.errorMessage {
    font-family: arial,helvetica,sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: red;
}
.BlueButton {
    height: 20px;
    border: 1px solid #000000;
    text-decoration: none;
  font-size:8pt;
    background-image: url(../images/blueButton.gif)
}
