.AttentionText {
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt; 
    font-style: normal; 
    text-align: center; 
}
.BlueButton {
	height: 20px;
	border: 1px solid #000000;
	text-decoration: none;
	background-image: url(../images/blueButton.gif)
}
.ColHeader {
    font-family: arial,helvetica,sans-serif;
  	font-size: 8pt;
    background: #006699;
    color: #FFFF00;
}
.ColHeaderCenter {
    font-family: arial,helvetica,sans-serif;
  	font-size: 8pt;
    background: #006699;
	text-align: center;
	color: #FFFF00;
}
.ColHeaderRight {
    font-family: arial,helvetica,sans-serif;
  	font-size: 8pt;
    background: #006699;
	text-align: right;
	color: #FFFF00;
}
.disclaimer {  
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    font-style: normal; 
    background-color: #003366;
    color: #FFFFFF; 
}
.DiscountPrice {
	text-decoration: line-through;
	color: red;
}
div.popup {
	border: 1px solid black;
	background: #FFF8DC;
}
.EditProductCellSelected {
    font-family: arial,helvetica,sans-serif;
	background-color: #F0E68C;
	text-align:	left;
	cursor: default;
}
.EditProductCellDeselect {
    font-family: arial,helvetica,sans-serif;
	background-color: #FFFFFF;
	text-align:	left;
	cursor: default;
}
.EditProductColHeaderSelected {
	border: thin solid #F0E68C;
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
    font-weight: bold;
	background-color: #F0E68C;
	text-align:	left;
	text-decoration: underline;
	cursor: default;
}
.EditProductColHeaderDeselect {
	border: thin solid #F0E68C;
    font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
    font-weight: bold;
	background-color: #FFF8DC;
	text-align:	left;
	text-decoration: underline;
	cursor: default;
}
.ErrorField {
	background-color: pink;
}
.ErrorMessage {
	font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: red;
}
.OperationSuccess {
    color: green;
    font-weight: bold;
}
form {
	margin: 0px;
	padding: 0px;
}
.Header {  
    font-family: arial,helvetica,sans-serif;
    font-size: 12pt; 
    font-style: normal; 
    font-weight: bolder;
    background-color: #FFFFFF; 
    text-align: center; 
    color: #000099; 
}
input,select,textarea {
    font-family: arial,helvetica,sans-serif;
	font-size:8pt;
}
.Instruction {
	color: green;
	font-style: italic;
}
.Label {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
}
.LabelRight {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
	text-align:right;
}
.Link {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;	
}
.LookupTable {
    border-right: #000066 2px solid;
    border-top: #000066 2px solid;
    border-left: #000066 2px solid;
    border-bottom: #000066 2px solid;
    font-size: 12px;
    color: #000066;
    background-color: #f0ecda;
    font-family: Arial, Tahoma;
    text-decoration: none;
}
.MatchedSearchResult {
    font-weight: bold;
}
.popup img {
	cursor: "hand";
}
.PopupHeader {  
    font-family: arial,helvetica,sans-serif;
    font-size: 11pt; 
    font-style: normal; 
    font-weight: bolder;
    text-align: center; 
    color: #000099; 
}
.TblHeader {
    font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
	font-weight: bold;
    background: #3669AC;
    color: #FFFFFF;
}
.TotalLine {
    font-family: arial,helvetica,sans-serif;
	background: #006699;
	font-size: 9pt;
	color: white;
}
.TotalLineRight {
    font-family: arial,helvetica,sans-serif;
	background: #006699;
	font-size: 9pt;
	text-align: right;
	color: white;
}
.RequiredFieldTxt {
    font-family: arial,helvetica,sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: red;
}
.ScreenPrompt {  
	font-family: arial,helvetica,sans-serif;
	font-size: 8pt; 
	font-style: normal; 
	line-height: normal; 
	background-color: 006699; 
	color: #FFFF00; 
	font-weight: bold
}
.ScrubTotal {
	font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: red;
}
.ShoppingCartTotal {
    font-family: arial,helvetica,sans-serif;
	font-size: 9pt;
	color: white;
}
td {
    font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
}
td.gray {
	color: #999999;
}
tr.odd {
	background-color: #CCFFFF;
}