a.tooltip{
    position:relative;
    z-index:24}

a.tooltip:link {text-decoration: none; color: black;}
a.tooltip:visited {text-decoration: none; color: black;}
a.tooltip:active {text-decoration: none}

a.tooltip:hover{z-index:25; background-color:#fff}

a.tooltip span{display: none}

a.tooltip:hover span{ 
    display:block;
    position:absolute;
    top:2em; left:2em; width:25em;
    border:1px solid #3669AC;
    background-color: #CCEFFF;
    color:#000000;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    text-decoration:none;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,strength=4,direction=135);
}
