.ColHeader {
    font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
    background: #006699;
    color: #FFFF00;
}
.ColHeaderCenter {
    font-family: arial,helvetica,sans-serif;
  	font-size: 8pt;
    background: #006699;
	text-align: center;
	color: #FFFF00;
}
.Disclaimer {  
    font-family: arial,helvetica,sans-serif;
    font-size: 12px; 
    font-style: normal; 
    background-color: #003366;
    color: #FFFFFF; 
}
.ErrorField {
	background-color: pink;
}
.ErrorMessage {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
	color: red;
}
.FieldInFocus {
	border-width: 2;
	border-color: red;
}
.FieldOutFocus {
	border-width: 2;
	border-color: normal;
}
form {
	margin: 0px;
	padding: 0px;
}
.Header {  
    font-family: arial,helvetica,sans-serif;
    font-size: 12pt; 
    font-style: normal; 
    font-weight: bolder;
    text-align: center; 
    color: #000099; 
}
input,select,textarea {
    font-family: arial,helvetica,sans-serif;
	font-size:8pt;
}
.Instruction {
	color: green;
	font-style: italic;
}
.Label {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
}
.LabelRight {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
	text-align:right;
}
.Link {
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;	
}
.LookupTable {
    border-right: #000066 2px solid;
    border-top: #000066 2px solid;
    border-left: #000066 2px solid;
    border-bottom: #000066 2px solid;
    font-size: 12px;
    color: #000066;
    background-color: #f0ecda;
    font-family: Arial, Tahoma;
    text-decoration: none;
}
.MatchedSearchResult {
    font-weight: bold;
}
.MessageRed {
	font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: red;
}
.PopupHeader {  
    font-family: arial,helvetica,sans-serif;
    font-size: 11pt; 
    font-style: normal; 
    font-weight: bolder;
    text-align: center; 
    color: #000099; 
}
.RequiredFieldTxt {
    font-family: arial,helvetica,sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: red;
}
.TblDataCenter {
    font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
	text-align: center;
}
.TblDataCenterSmall {
    font-family: arial,helvetica,sans-serif;
	font-size: 9pt;
	text-align: center;
}
.TblDataLeft {
    font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
	text-align: left;
}
.TblHeader {
    font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
	font-weight: bold;
    background: #3669AC;
    color: #FFFFFF;
}
td {
    font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
}
.WaitMessage {
    font-family: arial,helvetica,sans-serif;
	font-size: 12pt;
	font-weight: bold;
}