			<TABLE>
				<TR>
					<TD width="20%">
						Name
					</TD>
					<TD width="80%">
					<spring:bind path="pagerCommand.pager.name">
						<INPUT class="" type="text" name="<c:out value="${status.expression}"/>" value="<c:out value='${status.value}'/>" <c:if test='${pagerCommand.disabled == true}'>disabled</c:if> />
						<c:if test="${status.error}">
							<span class="error"><c:out value="${status.errorMessage}"/></span>
						</c:if>
					</spring:bind>
					</TD>
				</TR>
				<TR>
					<TD width="20%">
						Email Address
					</TD>
					<TD width="80%">
					<spring:bind path="pagerCommand.pager.email">
						<INPUT type="text" name="<c:out value="${status.expression}"/>" value="<c:out value='${status.value}'/>" <c:if test='${pagerCommand.disabled == true}'>disabled</c:if> />
						<c:if test="${status.error}">
							<span class="error"><c:out value="${status.errorMessage}"/></span>
						</c:if>
					</spring:bind>
					</TD>
				</TR>
			</TABLE>

			