/* Style for the paging buttons */
.arrowButton {
	cursor: hand;
	font-family: Webdings;
	font-size: 10pt;
	height: 20px;
	border: 1px solid #000000;
	text-decoration: none;
	background-image: url(../images/blueButton.gif)
}

/* Styles for the queue information */
#orderNumber {
	text-align: left;
	width: 22%;
}

#creditQueue {
	text-align: left;
	padding-left: 1em;
	width: 21%;
}

#zipQueue {
	text-align: left;
	padding-left: 1em;
	width: 19%;
}

#orderTag1 {
	text-align: left;
	padding-left: 1em;
	width: 19%;
}

#orderTag2 {
	text-align: left;
	padding-left: 1em;
	width: 19%;
}


/* Styles for the message table */
.messageContainer th {
	text-align: left;
	vertical-align: bottom;
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
}


/* Message number */
.messageContainer .number {
	width: 4%;
	padding-left: 4px;
	text-align: left;
}

.messageContainer td.number {
	font-weight: bold;
}


/* Date */
.messageContainer .date {
	width: 7%;
	text-align: left;
}


/* Time */
.messageContainer .time {
	width: 8%;
	text-align: left;
}


/* Type */
.messageContainer .type {
	width: 33%;
	text-align: left;
}


/* Fill-florist */
.messageContainer .florist {
	width: 15%;
	text-align: left;
}


/* Merch amt */
.messageContainer .amount {
	width: 9%;
	text-align: right;
}


/* Status */
.messageContainer .status {
	width: 7%;
	text-align: center;
}


/* Id */
.messageContainer .id {
	width: 17%;
	text-align: left;
}


/* Styles for the email table */
.emailContainer * th {
	text-align: left;
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt;
}


/* Email number */
.emailContainer * .number {
	width: 4%;
	padding-left: 4px;
	text-align: left;
}

.emailContainer * td.number {
	font-weight: bold;
}


/* Date */
.emailContainer * .date {
	width: 7%;
	text-align: left;
}


/* Time */
.emailContainer * .time {
	width: 8%;
	text-align: left;
}


/* Type */
.emailContainer * .type {
	width: 14%;
	text-align: left;
}


/* Email address or letter type */
.emailContainer * .email {
	width: 45%;
	text-align: left;
}


/* Subject */
.emailContainer * .subject {
	width: 22%;
	text-align: left;
}