body {
	background-color: #fff;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
	background-repeat: repeat-y;
	font-size: 13px;
	padding: 0px;
}

#leftColumn {
	width: 170px;
	float: left;
}

#bodyColumn {
	margin-right: 1.5em;
	margin-left: 197px;
}

td,select,input,li {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: #333;
}

code {
	font-size: 12px;
}


a {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #333; 	
    text-decoration: underline;
}

.empty {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: red; 	
    font-weight: bold;
}

.pagebanner{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #000099; 	
    font-weight: bold;
}

#leftColumn a {
	text-decoration: none;
}

a:link {
	color: #47a;
}

/*
This affects both header links and row links
a:visited {
	color: #666;
}
*/
a:active,a:hover {
	color: #900;
}

#legend li.externalLink {
	background: url(../images/ico_external.png) left top no-repeat;
	padding-left: 18px;
}

a.externalLink,a.externalLink:link,a.externalLink:visited,a.externalLink:active,a.externalLink:hover
	{
	background: url(../images/ico_external.png) right center no-repeat;
	padding-right: 18px;
}

#legend li.newWindow {
	background: url(../images/ico_newwindow.png) left top no-repeat;
	padding-left: 18px;
}

a.newWindow,a.newWindow:link,a.newWindow:visited,a.newWindow:active,a.newWindow:hover
	{
	background: url(../images/ico_newwindow.png) right center no-repeat;
	padding-right: 18px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	color: #666;
	background: none;
	font-weight: normal;
	padding-left: 0;
	border: none;
	border-bottom: 1px dotted #ccc;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	padding: 4px 4px 4px 0;
	color: #999 !important;
	background: none;
	font-weight: none;
	font-size: 20px;
	border: none;
	border-bottom: 1px dotted #ccc;
}

p {
	line-height: 1.3em;
	font-size: 12px;
	color: #000;
}

#breadcrumbs {
	overflow: hidden;
	padding: 3px 10px 3px 20px;
	background-image: url(../images/breadcrumbs.png);
	background-repeat: repeat-x;
	border: none;
	background-color: #fff !important;
}

#breadcrumbs a {
	font-weight: bold;
	color: #999;
	text-decoration: underline;
}

#leftColumn {
	margin: 10px 0 10px 0;
	border: 1px solid #ccc;
	border-top: none;
	border-left: none;
	padding-right: 0;
	padding-left: 0;
	width: 180px;
	background-color: #e2f3b8;
}

#navcolumn {
	margin: 0 !important;
	padding: 0 !important;
}

#navcolumn h5 {
	font-size: 11px;
	padding: 1px 0 1px 12px;
	color: #666;
	background-position: left 5px;
	font-variant: small-caps;
	border: none;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background-color: #ECFEBC;
}

table.bodyTable th {
	color: white;
	background-color: #bbb;
	text-align: left;
	font-weight: bold;
}

table.bodyTable th,table.bodyTable td {
	font-size: 11px;
}

table.bodyTable tr.a {
	background-color: #ddd;
}

table.bodyTable tr.b {
	background-color: #eee;
}

.source {
	border: 1px solid #999;
	overflow: auto;
	background-color: #eee;
}

dt {
	padding: 4px 4px 4px 24px;
	color: #333333;
	background-color: #ccc;
	font-weight: bold;
	font-size: 14px;
}

.subsectionTitle {
	font-size: 13px;
	font-weight: bold;
	color: #666;
}

table {
	font-size: 10px;
}

.xright a:link,.xright a:visited,.xright a:active {
	color: #666;
}

.xright a:hover {
	color: #003300;
}

#banner {
	height: 93px;
	background-color: #e2f3b8;
}

#banner  a#bannerRight img {
	margin: 10px 10px 0 0 !important;
}

#banner  a#bannerLeft img {
	margin: 10px 0 0 10px !important;
}

#navcolumn ul {
	margin: 3px 0 5px -0em;
}

#navcolumn ul a {
	color: #333333;
}

#navcolumn ul a:hover {
	color: red;
}

#navcolumn ul li {
	background-image: url(../images/list.png);
	background-position: top left;
}

#navcolumn ul li.expanded {
	background-image: none;
	font-weight: bold;
	color: #666;
}

#navcolumn ul li.expanded ul {
	margin-top: 0;
	margin-bottom: 0;
}

#navcolumn ul li.expanded ul li {
	font-weight: normal;
}

#intro {
	border: solid #ccc 1px;
	margin: 6px 0px 0px 0px;
	padding: 10px 40px 10px 40px;
}

.subsection {
	margin-left: 3px;
	color: #333333;
}

.subsection p {
	font-size: 12px;
}

#footer {
	padding: 10px;
	margin: 20px 0px 20px 0px;
	border-top: solid #ccc 1px;
	color: #333333;
}

dl {
	border: 1px dotted #ccc;
	background-color: transparent;
}

dt {
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	color: #999 !important;
	font-weight: bold;
	font-size: 16px;
}

hr {
	border: none;
	border-bottom: 1px solid #ccc;
	background-color: transparent;
	height: 1px;
}

#breadcrumbs,#footer,#navcolumn li {
	font-size: 10px;
}

TABLE.sorttable {
	BORDER-RIGHT: black 1px solid; 
        BORDER-TOP: black 1px solid; 
        BORDER-LEFT: black 1px solid; 
        BORDER-BOTTOM: black 1px solid; 
        BORDER-COLLAPSE: collapse
}
TABLE.sorttable TH {
	BORDER-RIGHT: #aaaaaa 1px solid; 
        PADDING-RIGHT: 5px; 
        BORDER-TOP: #aaaaaa 1px solid; 
        PADDING-LEFT: 10px; 
        PADDING-BOTTOM: 2px; 
        BORDER-LEFT: #aaaaaa 1px solid; 
        PADDING-TOP: 2px; 
        BORDER-BOTTOM: #aaaaaa 1px solid;
        font-family: Arial, Helvetica, sans-serif;
	color: #000000;
        font-weight:bold;
	font-size: 13px;
}
TABLE.sorttable TH a {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: black; 	
    text-decoration: underline;
}

TABLE.sorttable TD {
	BORDER-RIGHT: #aaaaaa 1px solid; 
        PADDING-RIGHT: 5px; 
        BORDER-TOP: #aaaaaa 1px solid; 
        PADDING-LEFT: 5px; 
        PADDING-BOTTOM: 2px; 
        BORDER-LEFT: #aaaaaa 1px solid; 
        PADDING-TOP: 2px; 
        BORDER-BOTTOM: #aaaaaa 1px solid;
        font-family: Arial, Helvetica, sans-serif;
	color: #000000;
        font-size: 12px;
        text-align:center;
}
TABLE.sorttable THEAD TH {
	BACKGROUND-COLOR:#6495ED;
}
TABLE.sorttable TFOOT TD {
	BACKGROUND-COLOR: #ffccff
}
TABLE.sorttable TR.tbody_header {
	FONT-WEIGHT: bold; 
        BACKGROUND-COLOR: #dddddd; 
        TEXT-ALIGN: center
}
TABLE.sorttable A.pagelink {
	BORDER-RIGHT: #666666 1px solid; 
        PADDING-RIGHT: 5px; 
        BORDER-TOP: #666666 1px solid; 
        PADDING-LEFT: 15px; 
        MARGIN: 0px 5px; 
        BORDER-LEFT: #666666 1px solid; 
        BORDER-BOTTOM: #666666 1px solid;
        font-family: Arial, Helvetica, sans-serif;
	color: red;
}
TABLE.sorttable A.currentpage {
	BACKGROUND-COLOR: yellow
}
TR.alternate {
	BACKGROUND-COLOR: #ffffcc
}
/* Displaytag */
TH.table-sortable {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(../images/sortable.gif); CURSOR: pointer; BACKGROUND-REPEAT: no-repeat
}
TH.sortable {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(../images/sortable.gif); CURSOR: pointer; BACKGROUND-REPEAT: no-repeat
}
TH.table-sorted-asc {
	BACKGROUND-POSITION: left center; BACKGROUND-IMAGE: url(../images/sorted_up.gif); BACKGROUND-REPEAT: no-repeat
}
TH.table-sorted-desc {
	BACKGROUND-POSITION: left center; BACKGROUND-IMAGE: url(../images/sorted_down.gif); BACKGROUND-REPEAT: no-repeat
}
TH.table-filtered {
	BACKGROUND-POSITION: left center; BACKGROUND-IMAGE: url(../images/filter.gif); BACKGROUND-REPEAT: no-repeat
}
SELECT.table-autofilter {
	FONT-SIZE: smaller
}
TABLE.altstripe TR.alternate2 {
	BACKGROUND-COLOR: #ccffff
}
/* Displaytag */
TABLE.altstripe TR.even {
	BACKGROUND-COLOR: #D3D3D3
}
TABLE.sort01 TH.table-sortable {
	BACKGROUND-IMAGE: url(../images/01_unsorted.gif)
}
TABLE.sort01 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(../images/01_ascending.gif)
}
TABLE.sort01 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(../images/01_descending.gif)
}
/* Displaytag */
TABLE.sort01 TH.sortable {
	BACKGROUND-IMAGE: url(../images/01_unsorted.gif)
}
/* Displaytag */
TABLE.sort01 TH.order1 {
	BACKGROUND-IMAGE: url(../images/01_ascending.gif)
}
/* Displaytag */
TABLE.sort01 TH.order2 {
	BACKGROUND-IMAGE: url(../images/01_descending.gif)
}
.iconset {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN: 5px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 100px; CURSOR: pointer; BORDER-BOTTOM: #666666 1px solid; TEXT-ALIGN: center
}
.iconset IMG {
	MARGIN: 3px
}
TR.doc_section {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #dddddd; TEXT-ALIGN: center
}

