.selected {
	vertical-align: center;
	text-align: center;
	width: 4%;
}

.primaryBackupFlorist {
  vertical-align: center;
  text-align: center;
  width: 6%;
}

.memberNumber {
	vertical-align: center;
	text-align: center;
	width: 9%;
}

.name {
	vertical-align: center;
	text-align: center;
	width: 25%;
}

.phone {
	vertical-align: center;
	text-align: center;
	width: 10%;
}

.sunday {
	vertical-align: center;
	text-align: center;
	width: 5%;
}

.mercury {
	vertical-align: center;
	text-align: center;
	width: 7%;
}

.goTo {
	vertical-align: center;
	text-align: center;
	width: 5%;
}

.cutOff {
	vertical-align: center;
	text-align: center;
	width: 7%;
}

.alreadyReceived {
	vertical-align: center;
	text-align: center;
	width: 9%;
}

.status {
	vertical-align: center;
	text-align: center;
	width: 13%;
}


.memberLink {
	margin: 0;
	padding: 0;
}