	#accountPad{
		padding-left:20em;
	}
	.arrowButton {
	    cursor:hand;
	    font-family: Webdings;
	    font-size: 10pt;
	    height: 20px;
	    border: 1px solid #000000;
	    text-decoration: none;
	    background-image: url(../images/blueButton.gif)
	}
	
	.alignright{
	    text-align:right;
	}
	.alignleft{
	    text-align:left;
	}
	.SectionHeader
	{
	   FONT-WEIGHT: bold;
	   FONT-SIZE: 14pt;
	   COLOR: black;
	   FONT-FAMILY: arial,helvetica,sans-serif;
	}
	.ScreenPrompt {
		font-family: arial,helvetica,sans-serif;
		font-size: 12pt;
	 	font-style: normal;
		line-height: normal;
		background-color: 006699;
		color: #FFFF00;
		font-weight: bold
	}
	
	.TblHeader
	{
	  FONT-WEIGHT: bold;
		FONT-SIZE: 11pt;
		BACKGROUND: #3669AC;
		color: #FFFFFF;
		FONT-FAMILY: arial,helvetica,sans-serif;
	}
						
	.banner {
	    background-color:#006699;
	    color:#FFFFFF ;
	    text-align:center;
	    font-weight: bold;
	}
	
	.bannerLeft {
	    background-color:#006699;
	    color:#FFFFFF ;
	    text-align:left;
	    font-weight: bold;
	}
	
	.ColHeader {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 8pt;
	    background: #006699;
	    color: #FFFF00;
	}
	.ColHeaderCenter {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 8pt;
	    background: #006699;
	    text-align: center;
	    color: #FFFF00;
	}
	.ColHeaderRight {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 8pt;
	    background: #006699;
	    text-align: right;
	    color: #FFFF00;
	}
	#customerField{
	    width:37%;
	  }
	.BlueButton {
	    height: 20px;
	    border: 1px solid #000000;
	    text-decoration: none;
	  font-size:8pt;
	    background-image: url(../images/blueButton.gif)
	}
	
	.BigBlueButton {
	    height: 40px;
	    font-family: arial,helvetica,sans-serif;
	    border: 1px solid #000000;
	    font-size: 8pt;
	    text-decoration: none;
	    vertical-align:top;
	    background-image: url(../images/bigBlueButton.gif)
	  }
	.ButtonTextBox1{
		WIDTH: 96px;
	}
	.ButtonTextBox2{
		WIDTH: 131px;
	}
	.disclaimer {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 12px;
	    font-style: normal;
	    background-color: #003366;
	    color: #FFFFFF;
	}
	.DiscountPrice {
	    text-decoration: line-through;
	    color: red;
	}
	div.popup {
	    border: 1px solid black;
	    background: #FFF8DC;
	}
	.EditProductCellHighlight {
	    font-family: arial,helvetica,sans-serif;
	    background-color: #FFF8DC;
	    text-align: left;
	    cursor: default;
	}
	.EditProductCellSelected {
	    font-family: arial,helvetica,sans-serif;
	    background-color: #F0E68C;
	    text-align: left;
	    cursor: default;
	}
	.EditProductCellDeselect {
	    font-family: arial,helvetica,sans-serif;
	    background-color: #FFFFFF;
	    text-align: left;
	    cursor: default;
	}
	.EditProductColHeaderSelected {
	    border: thin solid #F0E68C;
	    font-family: arial,helvetica,sans-serif;
	    font-size: 10pt;
	    font-weight: bold;
	    background-color: #F0E68C;
	    text-align: left;
	    text-decoration: underline;
	    cursor: default;
	}
	.EditProductColHeaderDeselect {
	    border: thin solid #F0E68C;
	    font-family: arial,helvetica,sans-serif;
	    font-size: 10pt;
	    font-weight: bold;
	    background-color: #FFF8DC;
	    text-align: left;
	    text-decoration: underline;
	    cursor: default;
	
	}
	.Error
	{
	    FONT-SIZE: 10pt;
	    COLOR: black;
	    Background: pink;
	    FONT-FAMILY: arial,helvetica,sans-serif;
	}
	.errorField{
	    background-color:   #FFC0CB
	}
	.ErrorMessage {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 8pt;
	    font-weight: bold;
	    color: red;
	}
	.floatleft{
	    float:left;
	}
	.floatright{
	    float:right;
	}
	form {
	    margin: 0px;
	    padding: 0px;
	}
	.Header {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 12pt;
	    font-style: normal;
	    font-weight: bolder;
	    background-color: #FFFFFF;
	    text-align: center;
	    color: #000099;
	}
	input,select,textarea {
	    font-family: arial,helvetica,sans-serif;
	    font-size:8pt;
	}
	.Instruction {
	    color: green;
	    font-style: italic;
	}
	.Label {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 8pt;
	    font-weight: bold;
	}
	.LabelBigger {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 9pt;
	    font-weight: bold;
	}.LabelGrey {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 8pt;
	    font-weight: bold;
	    background-color: #e0e0e0;
	}
	.BackGrey {
	    background-color: #e0e0e0;
	}
	.labelpad {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 8pt;
	    font-weight: bold;
	   padding-left: 1cm;
	}
	
	.LabelRight {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 8pt;
	    font-weight: bold;
	    text-align:right;
	}
	.largeErrorMsgTxt {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 10pt;
	    font-weight: bold;
	    color: red;
	}
	.Link {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 8pt;
	    font-weight: bold;
	}
	.LookupTable {
	    border-right:#006699 2px solid;
	    border-top: #006699 2px solid;
	    border-left: #006699 2px solid;
	    border-bottom: #006699 2px solid;
	    font-size: 12px;
	    color: #000066;
	    background-color: #C1D1EC;
	    font-family: Arial, Tahoma;
	    text-decoration: none;
	}
	.mainTable {
	    border-right: #006699 3px solid;
	    border-top: #006699 3px solid;
	    border-left: #006699 3px solid;
	    border-bottom: #006699 3px solid;
	
	}
	.OperationSuccess {
	    color: green;
	    font-weight: bold;
	}
	#marketingBanner{
	    padding-left:23em;
	  }
	.indent{
		padding-left:1em;
	}
	.innerTable {
	    border-right: #006699 1px solid;
	    border-top: #006699 1px solid;
	    border-left: #006699 1px solid;
	    border-bottom: #006699 1px solid;
	    empty-cells:show;
	}
	.MatchedSearchResult {
	    font-weight: bold;
	}
	.popup img {
	    cursor: "hand";
	}
	.PopupHeader {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 11pt;
	    font-style: normal;
	    font-weight: bolder;
	    text-align: center;
	    color: #000099;
	}
	.TblHeader {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 8pt;
	    font-weight: bold;
	    background: #3669AC;
	    color: #FFFFFF;
	}
	.TextLink {
	    color: blue;
	    text-decoration: underline;
	    cursor: "hand";
	}
	.textField{
	  padding-left:.5em;
	}
	.TextLinkWhite {
	    color: white;
	    text-decoration: underline;
	    cursor: "hand";
	}
	.TotalLine {
	    font-family: arial,helvetica,sans-serif;
	    background: #006699;
	    font-size: 9pt;
	    color: white;
	}
	.TotalLineRight {
	    font-family: arial,helvetica,sans-serif;
	    background: #006699;
	    font-size: 9pt;
	    text-align: right;
	    color: white;
	}
	.TopHeading {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 11pt;
	    font-weight: bold;
	}
	.RequiredFieldTxt {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 9pt;
	    font-weight: bold;
	    color: red;
	}
	.InformationalMsg {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 9pt;
	    font-weight: bold;
	    color: red;
	}
	.ScreenPrompt {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 8pt;
	    font-style: normal;
	    line-height: normal;
	    background-color:#006699;
	    color: #FFFF00;
	    font-weight: bold
	}
	.ScrubTotal {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 8pt;
	    font-weight: bold;
	    color: red;
	}
	.ShoppingCartTotal {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 9pt;
	    color: white;
	}
	td {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 8pt;
	}
	td.gray {
	    color: #999999;
	}
	.WaitMessage {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 12pt;
	    font-weight: bold;
	}
	.StrikePrice{
	    font-family: arial,helvetica,sans-serif;
	    font-size: 8pt;
	    color: red;
	     text-decoration: line-through;
	}
	
	.alignBottomCenter{
	    vertical-align:text-bottom;
	    text-align:center;
	}
	.floatingdiv{
	    width: 100%;
	    height: 70 px;
	    overflow: auto;
	
	}
	
	.select{
	   width:150px
	}
	.highlightedlink{
	    color: #999999;
	    }
	
	
	/*--------------------------Scrolling (table) CSS -------------------------*/
	
	/* define height and width of scrollable area. Add 16px to width for scrollbar  */
	div.tableContainer {
	    height: 250px;
	    overflow: auto;
	    width: 768px;
	}
	
	/* define width of table. IE browsers only      */
	div.tableContainer table {
	    float: left;
	    width: 100%;
	}
	thead.fixedHeader tr {
	    position: relative
	}
	
	/* define the table content to be scrollable                                              */
	/* set TBODY element to have block level attributes. All other non-IE browsers            */
	/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
	/* induced side effect is that child TDs no longer accept width: auto                     */
	html>body tbody.scrollContent {
	
	/*    height: 262px;  */
	    overflow: scroll;
	    width: 100%;
	}
	
	thead.fixedHeader tr {
	    background-color: white;
	    text-align:center;
	    vertical-align:bottom;
	}
	
	th {
	    font-family: arial,helvetica,sans-serif;
	    font-size: 8pt;
	}
	
	tbody.scrollContent td{
	    text-align:center;
	}
	
	/*----------------------END of Scrolling -table- CSS -------------------------*/
	
	/*--------Customer Account xsl--------*/
	#ca td {
	   vertical-align:text-bottom;
	   padding-left:.3em;
	}
	#ca_cart td{
	    font-size:8pt;
	}
	/*--------End Customer Account xsl--------*/
	
	
	/*------Customer Shopping Cart---------*/
	#csciInfo td{
	    vertical-align:bottom;
	    padding-left:.3em;
	}
	 #csciHeader td {
	    vertical-align:bottom;
	    padding-left:.3em;
	}
	/*---- End Customer Shopping Cart------*/
	
	/*------------- itemDiv.xsl------------*/
	#itemContainer td{
	        vertical-align:bottom;
	}
	#recipInfoCustHeader td{
	    padding-left:.3em;
	}
	#recipInfo td{
	    padding-left:.3em;
	}
	
	#recipientSummary td{
	padding-left:.3em;
	}
	#vendorSummary td {
	padding-left:.3em;
	}
	/*----------End itemDIv.xsl-------------*/
	
	
	.orderToolTip td{
	padding-left:1em;
	font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
	
	
	}
	
	/*----------Popup xsl---------------*/
	
	#membershipInfoPopup td.Label{
	    text-align:right;
	}
	#membershipInfoPopup td{
	    padding-left:.5em;
	}
	
	#altContactInfo td.Label{
	    text-align:right;
	}
	#altContactInfo td{
	    padding-left:.5em;
	}
	
	
	#cartPayment td.Label{
	    text-align:right;
	}
	#cartPayment td{
	    padding-left:.4em;
	    text-align:left;
	
	}
	
	#orderPayment td.Label{
	    text-align:right;
	}
	#orderPayment td{
	    padding-left:.4em;
	    text-align:left;
	}
	
	/*
	  Original View xsl styles
	*/
	#ovHeaderTable td{
	            padding-left:.5em;
	            vertical-align:bottom;
	        }
	        #ovCustomerInfo td{
	            padding-left:.5em;
	            vertical-align:bottom;
	        }
	        #ovRecipientInfo td{
	            padding-left:.5em;
	            vertical-align:bottom;
	        }
	        #ovEnclosureCard td{
	            padding-left:.5em;
	            vertical-align:bottom;
	        }
	        #ovProductSummary td{
	            padding-left:.5em;
	            vertical-align:bottom;
	        }
	    #ovMisc td{
	      padding-left:.5em;
	    }
	    
	iframe.hidden {
		display:None;	
	}
	
	span#error {
		font-color: #ff3333;
		font-size: 14pt;
		font-color: bold;
		padding: 10px;
		display:block;
		background-color:#ffcccc;
		border: 1px solid #660000;
		border-radius:5px; 
			
	}
	.cursor{
	    cursor: "hand";
	}
	
	table.deliveryInfo table.PaneSection td { text-align: center}
	table.deliveryInfo table.PaneSection { width: 275px}