/* Style for the error message div in the header */
#qDeleteErrorField {
	float: left;
	overflow: auto;
	margin-left: 5px;
	height: 32px;
	width: 343px;
}

/* Styles for the table of queued messages */
.selected {
	width: 4%;
	text-align: center;
}

.number {
	width: 5%;
	text-align: left;
	font-weight: bold;
}

.date {
	width: 9%;
	text-align: center;
}

.time {
	width: 10%;
	text-align: center;
}

.type {
	width: 14%;
	text-align: center;
}

.tagged {
	width: 20%;
	text-align: center;
}

.taggedDate {
	width: 14%;
	text-align: center;
}

.taggedTime {
	width: 15%;
	text-align: center;
}

.priority {
	width: 9%;
	text-align: center;
}