a.tooltip{
    position:relative;
    z-index:24}

a.tooltip:hover{z-index:25; background-color:#fff}

a.tooltip span{display: none}

a.tooltip:hover span{ 
    display:block;
    position:absolute;
    top:2em; left:2em; width:25em;
    border:1px solid #3669AC;
    background-color: #CCEFFF;
    color:#000000;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    text-decoration:none;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,strength=4,direction=135);
}

a.tooltipLS{
    position:relative;
    z-index:24}

a.tooltipLS:hover{z-index:25; background-color:#fff}

a.tooltipLS span{display: none}

a.tooltipLS:hover span{ 
    display:block;
    position:absolute;
    top:-2em; left:-20em; width:30em;
    border:1px solid #3669AC;
    background-color: #CCEFFF;
    color:#000000;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    text-decoration:none;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,strength=4,direction=135);
}

div.tooltipLS{
    position:relative;
    z-index:24}

div.tooltipLS:hover{z-index:25; background-color:#fff}

div.tooltipLS span{display: none}

div.tooltipLS:hover span{ 
    display:block;
    position:absolute;
    top:2em; left:-10em; width:30em;
    border:1px solid #3669AC;
    background-color: #CCEFFF;
    color:#000000;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    text-decoration:none;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,strength=4,direction=135);
}
