.accordionTabTitleBar {
	BORDER-RIGHT: 0px; 
        PADDING-RIGHT: 6px; 
        BORDER-TOP: #bdc7e7 1px solid; 
        PADDING-LEFT: 6px; 
        FONT-SIZE: 12px; 
        FONT-FAMILY: arial,helvetica,sans-serif;
        PADDING-BOTTOM: 4px; 
        BORDER-LEFT: 0px; 
        PADDING-TOP: 4px; 
        BORDER-BOTTOM: #182052 1px solid
}
.tabTitleBarForcedOpen {
	BORDER-RIGHT: 0px; 
        PADDING-RIGHT: 6px; 
        BORDER-TOP: #bdc7e7 1px solid; 
        PADDING-LEFT: 6px; 
        FONT-SIZE: 10px; 
        FONT-WEIGHT: normal;
        FONT-FAMILY: arial,helvetica,sans-serif;
        PADDING-BOTTOM: 4px; 
        BORDER-LEFT: 0px; 
        PADDING-TOP: 4px; 
        BORDER-BOTTOM: #182052 1px solid;
        BACKGROUND-COLOR: #6b79a5;
        COLOR: #ced7ef;
}
.accordionTabTitleBarHover {
	FONT-SIZE: 11px; 
        FONT-FAMILY: arial,helvetica,sans-serif;
        COLOR: #000000; 
        BACKGROUND-COLOR: #1f669b
}
.accordionTabContentBox {
	BORDER-RIGHT: #1f669b 1px solid; 
        PADDING-RIGHT: 8px; 
        BORDER-TOP: #1f669b 0px solid; 
        PADDING-LEFT: 8px; 
        FONT-SIZE: 11px; 
        FONT-FAMILY: arial,helvetica,sans-serif;
        PADDING-BOTTOM: 0px; 
        BORDER-LEFT: #1f669b 1px solid; 
        PADDING-TOP: 0px; 
        BORDER-BOTTOM: #1f669b 1px solid
}


